<div class="menu-wrapper">
 <!--  <nav class="menu-item">
    
      <button><a href="/bloggers">Everythings</a></button>
      <button><a href="/bloggers/bloghashtag/electronics">Electronics</a></button>
      <button><a href="/bloggers/bloghashtag/home">Home</a></button>
      <button><a href="/bloggers/bloghashtag/kitchen">Kitchen</a></button>
      <button><a href="/bloggers/bloghashtag/office">Office</a></button>
      <button><a href="/bloggers/bloghashtag/pet_supplies">Pet Supplies</a></button>
      <button><a href="/bloggers/bloghashtag/electronics">Electronics</a></button>
      <button><a href="/bloggers/bloghashtag/home">Home</a></button>
      <button><a href="/bloggers/bloghashtag/kitchen">Kitchen</a></button>
      <button><a href="/bloggers/bloghashtag/office">Office</a></button>
      <button><a href="/bloggers/bloghashtag/pet_supplies">Pet Supplies</a></button>
      <button><a href="/bloggers/bloghashtag/electronics">Electronics</a></button>
      <button><a href="/bloggers/bloghashtag/home">Home</a></button>
      <button><a href="/bloggers/bloghashtag/kitchen">Kitchen</a></button>
      <button><a href="/bloggers/bloghashtag/office">Office</a></button>
      <button><a href="/bloggers/bloghashtag/pet_supplies">Pet Supplies</a></button>
  </nav>  -->
  <!-- <span class="pointer left-pointer dis">
    <i class="fa fa-chevron-left"></i>
  </span>
  <span class="pointer right-pointer">
    <i class="fa fa-chevron-right"></i>
  </span> -->
</div>

