<% if current_user && current_user.admin %>
  <div class="wrap">
    <div class="blog_form_warp">
      <h1>New Blogger</h1>
      <%= render 'form', blogger: @blogger %>
      <%= link_to 'Back', bloggers_path %>
    </div>
  </div>
<% end %>
