<nav>
  <div class="header_back"><a href="/coupons"><img class="back_arrow" src="<%=asset_path 'back_arrow.png' %>" alt="all" /></a></div>
  <% if @coupon.c_spare_61.present? || @coupon.c_spare_62.present? %>
    <h2><a href="/">Code & Coupon Detail</a></h2>
  <% else %>
    <h2><a href="/">Promo Code Detail</a></h2>
  <% end %>
</nav>
