<section class="game-section deal_section">
  <!-- <h2 class="line-title">Trending Deals</h2> -->
  <div class="owl-carousel custom-carousel owl-theme">

    <a href="/bridges/finder_detail">
      <div class="hero_box">
          <div class="inner">
            <p># Amazon Coupons & Deals Finder</p>
            <em>UP TO</em>
            <span>70% OFF</span>
          </div>
        </div>
    </a>

    <a href="https://amzn.to/3GPBNWb">
      <div class="hero_box">
          <div class="inner">
            <p># Today's Epic Deal Of Amazon</p>
            <em>UP TO</em>
            <span>90% OFF</span>
          </div>
        </div>
    </a>

    <a href="https://amzn.to/3pPDlZ4">
      <div class="hero_box">
          <div class="inner">
            <p># Clipping Coupons Electronics</p>
            <em>UP TO</em>
            <span>50% OFF</span>
          </div>
        </div>
    </a>

    <a href="https://amzn.to/3GxqjX1">
      <div class="hero_box">
          <div class="inner">
            <p># Clipping Coupons Beauty</p>
            <em>UP TO</em>
            <span>50% OFF</span>
          </div>
        </div>
    </a>

    <a href="https://amzn.to/3yiMo92">
      <div class="hero_box">
          <div class="inner">
            <p># Clipping Coupons Grocery & Gourmet</p>
            <em>UP TO</em>
            <span>50% OFF</span>
          </div>
        </div>
    </a>

  </div>
</section>


