<section class="game-section deal_section">
  <h2 class="line-title">Trending Deals</h2>
  <div class="owl-carousel custom-carousel owl-theme">
    <a href=""><img class="item" src="<%=asset_path 'detail.png' %>"></a>
    <a href="/bridges/finder_detail"><div class="item" style="background-image: url(/assets/detail.png);"></div></a>
    <a href="https://amzn.to/3pqaudE" target="_blank"><div class="item" style="background-image: url(/assets/epic_deal.png);"></div></a>
    <a href="https://amzn.to/3xQBCqj" target="_blank"><div class="item" style="background-image: url(/assets/prime.png);"></div></a>
    <a href=""><div class="item" style="background-image: url(/assets/deal_02.png);"></div></a>
    <a href=""><div class="item" style="background-image: url(/assets/deal_03.png);"></div></a>
    <a href="/coupons/chashtag/hash_taga"><div class="item" style="background-image: url(/assets/deal_04.png);"></div></a>
    <!-- 
    <% @coupons.each do |deals| %>
    
      <% if deals.c_spare_57 == 300 %> 
        <div class="item" style="background-image: url(/assets/deal_01.png);"></div>
      <% end %>

      <% if deals.c_spare_57 == 400 %> 
        <div class="item" style="background-image: url(/assets/deal_01.png);"></div>
      <% end %>

      <% if deals.c_spare_57 == 500 %> 
        <div class="item" style="background-image: url(/assets/hero_m.png);"></div>
      <% end %>

      <% if deals.c_spare_57 == 600 %> 
        <div class="item" style="background-image: url(/assets/hero_m.png);"></div>
      <% end %>

      <% if deals.c_spare_57 == 700 %> 
        <div class="item" style="background-image: url(/assets/hero_m.png);"></div>
      <% end %>

      <% if deals.c_spare_57 == 800 %> 
        <div class="item" style="background-image: url(/assets/hero_m.png);"></div>
      <% end %>

      <% if deals.c_spare_57 == 900 %> 
        <div class="item" style="background-image: url(/assets/hero_m.png);"></div>
      <% end %>

      <% if deals.c_spare_57 == 1000 %> 
        <div class="item" style="background-image: url(/assets/hero_m.png);"></div>
      <% end %>

      <% if deals.c_spare_57 == 1100 %> 
        <div class="item" style="background-image: url(/assets/hero_m.png);"></div>
      <% end %>

      <% if deals.c_spare_57 == 1200 %> 
        <div class="item" style="background-image: url(/assets/hero_m.png);"></div>
      <% end %>

      <% if deals.c_spare_57 == 1300 %> 
        <div class="item" style="background-image: url(/assets/hero_m.png);"></div>
      <% end %>

      <% if deals.c_spare_57 == 1400 %> 
        <div class="item" style="background-image: url(/assets/hero_m.png);"></div>
      <% end %>

      <% if deals.c_spare_57 == 1500 %> 
        <div class="item" style="background-image: url(/assets/hero_m.png);"></div>
      <% end %>

      <% if deals.c_spare_57 == 1600 %> 
        <div class="item" style="background-image: url(/assets/hero_m.png);"></div>
      <% end %>

      <% if deals.c_spare_57 == 1700 %> 
        <div class="item" style="background-image: url(/assets/hero_m.png);"></div>
      <% end %>

      <% if deals.c_spare_57 == 1800 %> 
        <div class="item" style="background-image: url(/assets/hero_m.png);"></div>
      <% end %>

      <% if deals.c_spare_57 == 1900 %> 
        <div class="item" style="background-image: url(/assets/hero_m.png);"></div>
      <% end %>

      <% if deals.c_spare_57 == 2000 %> 
        <div class="item" style="background-image: url(/assets/hero_m.png);"></div>
      <% end %>

      <% if deals.c_spare_57 == 2100 %> 
        <div class="item" style="background-image: url(/assets/hero_m.png);"></div>
      <% end %>

      <% if deals.c_spare_57 == 2200 %> 
        <div class="item" style="background-image: url(/assets/hero_m.png);"></div>
      <% end %>

      <% if deals.c_spare_57 == 2300 %> 
        <div class="item" style="background-image: url(/assets/hero_m.png);"></div>
      <% end %>
    
    
    <% end %>
    -->
  </div>
</section>


