
<!-- <div class="owl-carousel custom-carousel owl-theme">
  <% @coupons.each do |deals| %>
    <% if deals.c_spare_57 == 300 %> 
      <a href="/coupons/chashtag/300"><img src="http://img.danawa.com/prod_img/500000/000/948/img/5948000_1.jpg?shrink=330:330&_v=20180308121534" alt=""></a>
    <% end %>

    <% if deals.c_spare_57 == 400 %> 
      <img src="https://w.namu.la/s/40de86374ddd74756b31d4694a7434ee9398baa51fa5ae72d28f2eeeafdadf0c475c55c58e29a684920e0d6a42602b339f8aaf6d19764b04405a0f8bee7f598d2922db9475579419aac4635d0a71fdb8a4b2343cb550e6ed93e13c1a05cede75" alt="">
    <% end %>

    <% if deals.c_spare_57 == 500 %> 
      <img src="https://pbs.twimg.com/profile_images/1374979417915547648/vKspl9Et_400x400.jpg" alt="">
    <% end %>

    <% if deals.c_spare_57 == 300 %> 
      <a href="/coupons/chashtag/300"><img src="http://img.danawa.com/prod_img/500000/000/948/img/5948000_1.jpg?shrink=330:330&_v=20180308121534" alt=""></a>
    <% end %>

    <% if deals.c_spare_57 == 400 %> 
      <img src="https://w.namu.la/s/40de86374ddd74756b31d4694a7434ee9398baa51fa5ae72d28f2eeeafdadf0c475c55c58e29a684920e0d6a42602b339f8aaf6d19764b04405a0f8bee7f598d2922db9475579419aac4635d0a71fdb8a4b2343cb550e6ed93e13c1a05cede75" alt="">
    <% end %>

    <% if deals.c_spare_57 == 500 %> 
      <img src="https://pbs.twimg.com/profile_images/1374979417915547648/vKspl9Et_400x400.jpg" alt="">
    <% end %>   
  <% end %>
</div>
 -->
  <section class="game-section">
    <h2 class="line-title">trending games</h2>
    <div class="owl-carousel custom-carousel owl-theme">
      <% @coupons.each do |deals| %>
        <% if deals.c_spare_57 == 300 %> 
          <div class="item active" style="background-image: url(/assets/hero_m.png);">
            <div class="item-desc">
              <h3>300</h3>
              <p>Dota 2 is a multiplayer online battle arena by Valve. The game is a sequel to Defense of the
                Ancients, which was a community-created mod for Blizzard Entertainment's Warcraft III.</p>
            </div>
          </div>
        <% end %>

        <% if deals.c_spare_57 == 400 %> 
          <div class="item active" style="background-image: url(/assets/hero_m.png);">
            <div class="item-desc">
              <h3>400</h3>
              <p>Dota 2 is a multiplayer online battle arena by Valve. The game is a sequel to Defense of the
                Ancients, which was a community-created mod for Blizzard Entertainment's Warcraft III.</p>
            </div>
          </div>
        <% end %>

        <% if deals.c_spare_57 == 500 %> 
          <div class="item active" style="background-image: url(/assets/hero_m.png);">
            <div class="item-desc">
              <h3>500</h3>
              <p>Dota 2 is a multiplayer online battle arena by Valve. The game is a sequel to Defense of the
                Ancients, which was a community-created mod for Blizzard Entertainment's Warcraft III.</p>
            </div>
          </div>
        <% end %>

        <% if deals.c_spare_57 == 600 %> 
          <div class="item active" style="background-image: url(/assets/hero_m.png);">
            <div class="item-desc">
              <h3>Dota 2</h3>
              <p>Dota 2 is a multiplayer online battle arena by Valve. The game is a sequel to Defense of the
                Ancients, which was a community-created mod for Blizzard Entertainment's Warcraft III.</p>
            </div>
          </div>
        <% end %>

        <% if deals.c_spare_57 == 700 %> 
          <div class="item active" style="background-image: url(/assets/hero_m.png);">
            <div class="item-desc">
              <h3>Dota 2</h3>
              <p>Dota 2 is a multiplayer online battle arena by Valve. The game is a sequel to Defense of the
                Ancients, which was a community-created mod for Blizzard Entertainment's Warcraft III.</p>
            </div>
          </div>
        <% end %>

        <% if deals.c_spare_57 == 800 %> 
          <div class="item active" style="background-image: url(/assets/hero_m.png);">
            <div class="item-desc">
              <h3>Dota 2</h3>
              <p>Dota 2 is a multiplayer online battle arena by Valve. The game is a sequel to Defense of the
                Ancients, which was a community-created mod for Blizzard Entertainment's Warcraft III.</p>
            </div>
          </div>
        <% end %>

        <% if deals.c_spare_57 == 900 %> 
          <div class="item active" style="background-image: url(/assets/hero_m.png);">
            <div class="item-desc">
              <h3>Dota 2</h3>
              <p>Dota 2 is a multiplayer online battle arena by Valve. The game is a sequel to Defense of the
                Ancients, which was a community-created mod for Blizzard Entertainment's Warcraft III.</p>
            </div>
          </div>
        <% end %>

        <% if deals.c_spare_57 == 1000 %> 
          <div class="item active" style="background-image: url(/assets/hero_m.png);">
            <div class="item-desc">
              <h3>Dota 2</h3>
              <p>Dota 2 is a multiplayer online battle arena by Valve. The game is a sequel to Defense of the
                Ancients, which was a community-created mod for Blizzard Entertainment's Warcraft III.</p>
            </div>
          </div>
        <% end %>

        <% if deals.c_spare_57 == 1100 %> 
          <div class="item active" style="background-image: url(/assets/hero_m.png);">
            <div class="item-desc">
              <h3>Dota 2</h3>
              <p>Dota 2 is a multiplayer online battle arena by Valve. The game is a sequel to Defense of the
                Ancients, which was a community-created mod for Blizzard Entertainment's Warcraft III.</p>
            </div>
          </div>
        <% end %>

        <% if deals.c_spare_57 == 1200 %> 
          <div class="item active" style="background-image: url(/assets/hero_m.png);">
            <div class="item-desc">
              <h3>Dota 2</h3>
              <p>Dota 2 is a multiplayer online battle arena by Valve. The game is a sequel to Defense of the
                Ancients, which was a community-created mod for Blizzard Entertainment's Warcraft III.</p>
            </div>
          </div>
        <% end %>

        <% if deals.c_spare_57 == 1300 %> 
          <div class="item active" style="background-image: url(/assets/hero_m.png);">
            <div class="item-desc">
              <h3>Dota 2</h3>
              <p>Dota 2 is a multiplayer online battle arena by Valve. The game is a sequel to Defense of the
                Ancients, which was a community-created mod for Blizzard Entertainment's Warcraft III.</p>
            </div>
          </div>
        <% end %>

        <% if deals.c_spare_57 == 1400 %> 
          <div class="item active" style="background-image: url(/assets/hero_m.png);">
            <div class="item-desc">
              <h3>Dota 2</h3>
              <p>Dota 2 is a multiplayer online battle arena by Valve. The game is a sequel to Defense of the
                Ancients, which was a community-created mod for Blizzard Entertainment's Warcraft III.</p>
            </div>
          </div>
        <% end %>

        <% if deals.c_spare_57 == 1500 %> 
          <div class="item active" style="background-image: url(/assets/hero_m.png);">
            <div class="item-desc">
              <h3>Dota 2</h3>
              <p>Dota 2 is a multiplayer online battle arena by Valve. The game is a sequel to Defense of the
                Ancients, which was a community-created mod for Blizzard Entertainment's Warcraft III.</p>
            </div>
          </div>
        <% end %>

        <% if deals.c_spare_57 == 1600 %> 
          <div class="item active" style="background-image: url(/assets/hero_m.png);">
            <div class="item-desc">
              <h3>Dota 2</h3>
              <p>Dota 2 is a multiplayer online battle arena by Valve. The game is a sequel to Defense of the
                Ancients, which was a community-created mod for Blizzard Entertainment's Warcraft III.</p>
            </div>
          </div>
        <% end %>

        <% if deals.c_spare_57 == 1700 %> 
          <div class="item active" style="background-image: url(/assets/hero_m.png);">
            <div class="item-desc">
              <h3>Dota 2</h3>
              <p>Dota 2 is a multiplayer online battle arena by Valve. The game is a sequel to Defense of the
                Ancients, which was a community-created mod for Blizzard Entertainment's Warcraft III.</p>
            </div>
          </div>
        <% end %>

        <% if deals.c_spare_57 == 1800 %> 
          <div class="item active" style="background-image: url(/assets/hero_m.png);">
            <div class="item-desc">
              <h3>Dota 2</h3>
              <p>Dota 2 is a multiplayer online battle arena by Valve. The game is a sequel to Defense of the
                Ancients, which was a community-created mod for Blizzard Entertainment's Warcraft III.</p>
            </div>
          </div>
        <% end %>

        <% if deals.c_spare_57 == 1900 %> 
          <div class="item active" style="background-image: url(/assets/hero_m.png);">
            <div class="item-desc">
              <h3>Dota 2</h3>
              <p>Dota 2 is a multiplayer online battle arena by Valve. The game is a sequel to Defense of the
                Ancients, which was a community-created mod for Blizzard Entertainment's Warcraft III.</p>
            </div>
          </div>
        <% end %>

        <% if deals.c_spare_57 == 2000 %> 
          <div class="item active" style="background-image: url(/assets/hero_m.png);">
            <div class="item-desc">
              <h3>Dota 2</h3>
              <p>Dota 2 is a multiplayer online battle arena by Valve. The game is a sequel to Defense of the
                Ancients, which was a community-created mod for Blizzard Entertainment's Warcraft III.</p>
            </div>
          </div>
        <% end %>

        <% if deals.c_spare_57 == 2100 %> 
          <div class="item active" style="background-image: url(/assets/hero_m.png);">
            <div class="item-desc">
              <h3>Dota 2</h3>
              <p>Dota 2 is a multiplayer online battle arena by Valve. The game is a sequel to Defense of the
                Ancients, which was a community-created mod for Blizzard Entertainment's Warcraft III.</p>
            </div>
          </div>
        <% end %>

        <% if deals.c_spare_57 == 2200 %> 
          <div class="item active" style="background-image: url(/assets/hero_m.png);">
            <div class="item-desc">
              <h3>Dota 2</h3>
              <p>Dota 2 is a multiplayer online battle arena by Valve. The game is a sequel to Defense of the
                Ancients, which was a community-created mod for Blizzard Entertainment's Warcraft III.</p>
            </div>
          </div>
        <% end %>

        <% if deals.c_spare_57 == 2300 %> 
          <div class="item active" style="background-image: url(/assets/hero_m.png);">
            <div class="item-desc">
              <h3>Dota 2</h3>
              <p>Dota 2 is a multiplayer online battle arena by Valve. The game is a sequel to Defense of the
                Ancients, which was a community-created mod for Blizzard Entertainment's Warcraft III.</p>
            </div>
          </div>
        <% end %>

          
      <% end %>

    </div>
  </section>


