<div class="footer">
  <div class="footer_box">
    <a href="/">Home |</a>
    <a href="/coupons/chashtag/online_deals">Online Deals |</a>
    <a href="/coupons/chashtag/promotion_coupons">Promotion Coupon |</a>
    <a href="/bridges/finder_detail">Deal & Coupon Finder |</a>
    <a href="/bridges/about_us">About Us</a>
  </div>
</div>