<main class="wrapper">
  <div class="wrap">
    <section class="hero clearfix">
      <h1>Interested in saving money?</h1>
      <div class="article">
        <ul>        
          <li>We only link to Amazon.com</li>
          <li>We hand-picked and verify the best deals and freshest coupon codes.</li>
          <li>Apply coupon codes at checkout with a single click.</li>
        </ul>
        <a href="/bridges/finder_detail">Find Coupon More</a>
      </div>
    </section>  
  </div>
</main>

