<div class="inner">
  <h2>Why pay more?</h2>
  <p><em>Amazon.com</em> offers thousands of great deals, but finding the best deal through endless pages might make you crazy.<br/ >It offers the quickest and simplest way to find the best deals, coupons and promo codes at Amazon.com. Find what you're looking for at a great price and save money :)</p>
  <a class="left_atag" href="/bridges/finder_detail">Find More</a>
  <br>
  <br>
  <br>
  <% if current_user && current_user.admin %>
    <%= link_to 'New Oneday', new_oneday_path, :class => 'left_atag'  %>
    <%= link_to 'New Picks', new_pick_path, :class => 'left_atag'  %>
    <!-- <a class="left_atag" href="/bridges/share_ko_">Share KO</a> -->
    <a class="left_atag" href="/bridges/share_ko_people">Share KP</a>
    <a class="left_atag" href="/bridges/share_fb">Share FB</a>
  <% end %>
  <br/><br/><br/><br/>

  <div class="left_menu clearfix">
    <ul>
      <!-- <li><a href="/bridges/new_coupon_section">Promo Codes</a></li>
      <li><a href="/bridges/deal_section">Best Deals</a></li> -->
    </ul>
  </div>
</div>

