<div class="tab_bar">  
  <nav>
    <a class="active" href="/"><img src="<%=asset_path 'home.svg' %>"></a>
    <a href="/bridges/new_coupon_section"><img src="<%=asset_path 'coupon.svg' %>"></a>
    <a href="/bridges/deal_section"><img class="deal" src="<%=asset_path 'deal.svg' %>"></a>
    <a href="/bridges/finder_detail"><img src="<%=asset_path 'search.svg' %>"></a>
  </nav>
</div>