<% if current_user && current_user.admin %>
  <div class="wrap">
    <h1>Editing Hotdeal</h1>
    <%= render 'form', hotdeal: @hotdeal %>
    <%= link_to 'Show', @hotdeal %> |
    <%= link_to 'Back', hotdeals_path %>
  </div>
<% end %>