<main class="wrapper">
  <section class="hero clearfix">
    <h2>Deals & Coupon Finder</h2><br />
    <!-- <div class="article">
      <ul>
        <li>Amazon offers thousands of great deals, but finding the best deal through endless pages might make you crazy. </li>
        <li>It offers the quickest and simplest way to find the best deals at Amazon.com.</li>
        <li>Find what you're looking for at a great price and save money :)</li>
      </ul>
      <a href="/">Discover Deals</a>
    </div> -->
  </section>  
</main>
