<header><%= render 'shared/header_index' %></header>
  <div class="wrap">

    <div class="about_us">
      <div class="mission sections clearfix">
        <p class="headline">ABOUT<em></p>
        <h2 class="under_head">It is discount platform but also trending item platform.</h2>
        <!-- <div class="left">
          <p><span>#1</span> "HOTDEAL-FUL"is the curation platform to discover awesome products from around the world. Staying up to date with the latest tech, the newest brilliant inventions, odd gadgets unique & weird design products.</p>
        </div> -->
        <div class="left">
          <p><span>#1</span>"Offtheprice" is the deal information platform to find thousands of Amazon best deals, coupon codes, promotions you love. Easy to keep up to date with the latest information of deals.<!-- promotion codes, coupons, sales and so on. <br />We are going to update more information of other online stores!! Coming Soon  :D --></p>
        </div>
        <div class="right">
          <p><span>#2</span> "Offtheprice" is a participant in the Amazon Services LLC Associates Program & the Amazon EU Associates Programme, an affiliate advertising program designed to provide a means for us to earn fees by linking to Amazon.com, Amazon.ca, Amazon.co.uk and affiliated sites.</p>
        </div>
        
      <!--  <h2>Our Mission</h2>
       <p><span>#1</span> "HOTDEAL-FUL"is the curation platform to discover awesome products from around the world. Staying up to date with the latest tech, the newest brilliant inventions, odd gadgets unique & weird design products.
       </p>
       <p><span>#2</span> "HOTDEAL-FUL" is the deal information platform to find thousands of Amazon best deals, coupon codes, promotions you love. Easy to keep up to date with the latest information of promotion codes, coupons, sales and so on. <br />We are going to update more information of other online stores!! Coming Soon  :D</p> -->
      </div>

     <!--  <div class="works sections clearfix">
        <p class="bodyline">HOW DOES IT WORK</p>

        <div class="left works_box">
          <h3>Discover & Curated</h3>
          <p>We have discovered trending items form all around the world.</p>
          <p>We have picked the best deals on Amazon.</p>
        </div>

        <div class="middle works_box">
          <h3>Sharing</h3>
          <p>We Discover the best deals and trending items</p>
        </div>

        <div class="right works_box">
          <h3>Win-Win</h3>
          <p>We Discover the best deals and trending items</p>
        </div>

      </div> -->

      <!--  <div class="support">
          <p>"HOTDEAL-FUL" contains affiliate links, which means that if you click on one of the product links, we’ll receive a small commission. This helps support us and allows us sto continue to find and share good prodcuts and deals. Thank you for the support!</p>
        </div> -->


      <div class="qna sections clearfix">
       <p class="bodyline">Q & A</p>
       <h3># What this website is?</h3>
       <p>It is discount platform but also trending item platform.<br />We just make your life easier. We offer a quick way to find the coolest items and the best deals and you'll find what you're looking for at a great price.</p>
       <h3># Do you actually sell products on this website?</h3>
       <p>We do not sell any of the products here. We are simply linking to products you can find in other online stores like Amazon, Aliexpress, Walmart, Kickstarter, Indiegogo, etc… and we do not ship anything ourselves. We cannot assist you with your purchase orders.</p>
       <!-- <p>Please remember that we are not an actual webstore. We do not sell anything ourselves, and we do not ship anything ourselves. We cannot assist you with your purchase orders, and we do not know if a product can be shipped internationally.</p> -->
       <h3># The product you're linking to is no longer available, or the link is broken?</h3>
       <p>Sometimes products will run out of stock or completely be removed from the websites. If you find something like that, please let us know which item it is, so we can update it. We would be much obliged.</p>
       <!-- <a href="/messages/new">Contact Us</a> -->
       <!-- <a href="#">ohigottabuythis@gmail.com</a> -->
      </div>

<!--       <div class="bottom sections clearfix">
        <h2>Notes</h2>
        <p>"HOTDEAL-FUL" acknowledge some content in this process, the aim is to provide for the convenience to the user. By specifying the source, we respect other people`s rights, as well as to provide support for those who own the contents. Please let us know if your writing has been copied in a way that infringes on copyright infringement, and we will try to work hard to resolve this issue.</p>
  
      </div> -->

      <div class="qna sections clearfix">
        <p class="bodyline">Source</p>
        <p>html & css & js</p>
        <p>
          Copyright (c) 2021 by Naila Ahmad (https://codepen.io/nailaahmad/pen/LGRxWJ), Bhavanaditya (https://codepen.io/Bhavanaditya/pen/QaEVQj), hasmukh (https://codepen.io/hasmukh6399/pen/GbGLpW), Hunter Casbeer (https://codepen.io/spacexengineer/pen/PaVpWZ), Darshan Rajadhyaksha (https://codepen.io/dsr/pen/PoprWgq), Timothy Long (https://codepen.io/timothylong/pen/AJxrPR)


          Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
          <br />
          The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
          <br />
          THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
        </p>
      </div>
  

    
  </div>
</div>
