<% if current_user && current_user.admin %>
  <header><%= render 'shared/header_index' %></header>
    
    <div class="wrap">
        <div class="panel_box clearfix">
          <% @coupons.each do |coupon| %>
            <% if coupon.created_at > 7.days.ago %>
              <!-- <p><%= coupon.c_title %>, [<%= time_ago_in_words(coupon.created_at) %> ago]</p> -->
              <p><%= coupon.c_title %></p>
            <% end %>
          <% end %>
        </div>
    </div>
<% end %>