<div class="web_box clearfix">

  <div class="left">
    <%= render '/shared/left' %>
  </div>

  <div class="right">
    <div class="index_wrap">
      <header><%= render 'shared/header_index' %></header>

      <div class="ctn_box">
       
        <div class="pic_deal clearfix">
          <h2 class="line-title">Save with Amazon Deals</h2><br>
          <%= render '/homes/deals' %>
        </div>
      
      </div>
    </div>
    <%= raw pagy_nav(@pagy) %>
  </div>

</div>