<div class="wp_table_wrapper"> 
    <div id="container" class="table_scroller">
        <table class="table_box">
            <thead>
                <tr>
                    <th class="table-sticky-col">&nbsp;</th>
                    <th id="product-col" class="table-col">아이닉 New i20</th>
                    <th class="table-col">디베아 ALLNEW29000</th>
                    <th class="table-col">삼성 비스포크 제트</th>
                    <th class="table-col">아이룸 제우스 i30</th>
                    <th class="table-col">캐치웰 NEW F8</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="table-sticky-col">가격대</td>
                    <td>10 만원대</td>
                    <td>20 만원 대</td>
                    <td>80 만원 대</td>
                    <td>10 만원 대</td>
                    <td>20 만원 대</td>
                </tr>
                <tr>
                    <td class="table-sticky-col stripe-row">흡입력</td>
                    <td>30,000Pa</td>
                    <td>45,000Pa</td>
                    <td>210W</td>
                    <td>30,000Pa</td>
                    <td>29,000Pa</td>
                </tr>
                <tr>
                    <td class="table-sticky-col">사용 시간(분)</td>
                    <td>50/25/10</td>
                    <td>50/25/10</td>
                    <td>120/60/20</td>
                    <td>40/22/10</td>
                    <td>25/10</td>

                </tr>
                <tr>
                    <td class="table-sticky-col stripe-row">필터 등급</td>
                    <td>헤파(E13)</td>
                    <td>헤파(E13)</td>
                    <td>헤파(E13)</td>
                    <td>헤파(E13)</td>
                    <td>헤파(E13)</td>
                </tr>
                <tr>
                    <td class="table-sticky-col">여과 시스템</td>
                    <td>5단계</td>
                    <td>6단계</td>
                    <td>5단계</td>
                    <td>3단계</td>
                    <td>4단계</td>
                </tr>

                <tr>
                    <td class="table-sticky-col">헤드 타입</td>
                    <td>브러시 롤러</td>
                    <td>브러시 롤러</td>
                    <td>브러시 롤러</td>
                    <td>브러시 롤러</td>
                    <td>브러시 롤러</td>
                </tr>

                <tr>
                    <td class="table-sticky-col">배터리</td>
                    <td>분리형</td>
                    <td>분리형</td>
                    <td>분리형</td>
                    <td>분리형</td>
                    <td>분리형</td>
                </tr>

                <tr>
                    <td class="table-sticky-col">무게</td>
                    <td>1.5kg</td>
                    <td>2.5kg</td>
                    <td>2.42kg</td>
                    <td>2.4kg</td>
                    <td>2.1kg</td>
                </tr>

                <tr>
                    <td class="table-sticky-col stripe-row">상품 확인</td>
                    <td><a target="_blank" href="https://link.coupang.com/a/3C73B" rel="noreferrer noopener sponsored">확인하기</a></td>
                    <td><a target="_blank" href="https://link.coupang.com/a/3C79o" rel="noreferrer noopener sponsored">확인하기</a></td>
                    <td><a target="_blank" href="https://link.coupang.com/a/3C9os" rel="noreferrer noopener sponsored">확인하기</a></td>
                    <td><a target="_blank" href="https://link.coupang.com/a/3C9uE" rel="noreferrer noopener sponsored">확인하기</a></td>
                    <td><a target="_blank" href="https://link.coupang.com/a/3C9y5" rel="noreferrer noopener sponsored">확인하기</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>



<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>




<div class="wp_accordion_wrap">
  <div class="wp_acordian_box">
    <div class="tab">
      <input id="tab-one" type="checkbox" name="tabs">
      <label for="tab-one">흡입력</label>
      <div class="tab-content">
        <p>흡입력은 무선 청소기의 성능을 나타내는 지표중에 하나이며, 단위로는 에어와트AW(W, 와트) 또는 파스칼(Pa)를 사용합니다. AW 또는 W를 사용하는 제품인 경우 100W이상, Pa를 사용하는 25,000Pa 이상의 청소기를 선택</p>
      </div>
    </div>
    <div class="tab">
      <input id="tab-two" type="checkbox" name="tabs">
      <label for="tab-two">용 시간</label>
      <div class="tab-content">
        <p>무선 청소기의 사용 시간은 청소세기에 따라 달라지며, 오늘 추천 하는 무선 청소기의 경우는 3단계 세기조절인 경우 중간 단계에서 최소 10분이상, 2단계 조절인 경우 강 모드에서 10분 이상의 청소기를 선택</p>
      </div>
    </div>
    <div class="tab">
      <input id="tab-three" type="checkbox" name="tabs">
      <label for="tab-three">필터 등급과 여과 시스템</label>
      <div class="tab-content">
        <p>무선 청소기는 간단하게 공기를 흡입 배출하는 원리로 청소를 하며 이때 흡입된 먼지가 다시 밖으로 나가는 과정에서 미세먼지 등이 배출 되지 않도록 하는 것이 필터의 역할입니다. 필터의 등급이 높고 여과 단계가 많을 수록 차단율이 높습니다. 헤파(HEPA, E13)등급이상 이며 3단계의 여과 시스템을 가진 청소기를 선정했습니다. </p>
      </div>
    </div>
    <div class="tab">
      <input id="tab-four" type="checkbox" name="tabs">
      <label for="tab-four">헤드 타입</label>
      <div class="tab-content">
        <p>청소기의 흡입력은 헤드 디자인에 따라 달라지기도 합니다. 헤드는 브러시 롤러가 있고 없고로 구분 할 수 있으며, 브러시 롤러가 있는 헤드가 청소 효율이 더 좋습니다. 브러시 롤러가 있는 청소기를 선택 했습니다.</p>
      </div>
    </div>
    <div class="tab">
      <input id="tab-five" type="checkbox" name="tabs">
      <label for="tab-five">배터리</label>
      <div class="tab-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, architecto, explicabo perferendis nostrum, maxime impedit atque odit sunt pariatur illo obcaecati soluta molestias iure facere dolorum adipisci eum? Saepe, itaque.</p>
      </div>
    </div>
    <div class="tab">
      <input id="tab-six" type="checkbox" name="tabs">
      <label for="tab-six">무게</label>
      <div class="tab-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, architecto, explicabo perferendis nostrum, maxime impedit atque odit sunt pariatur illo obcaecati soluta molestias iure facere dolorum adipisci eum? Saepe, itaque.</p>
      </div>
    </div>
  </div>
  <a href="https://wackythink.com/%ec%8b%a4%ed%8c%a8-%ec%97%86%eb%8a%94-%eb%ac%b4%ec%84%a0-%ec%b2%ad%ec%86%8c%ea%b8%b0-%ea%b5%ac%eb%a7%a4-%ea%b0%80%ec%9d%b4%eb%93%9c-2023-ver/" >무선 청소기 구매가이드 자세히 보기 🔎</a>
</div>


