<div class="ctn_banner clearfix">
  <div class="banner_pct">
    <p>80%<br>OFF</p>
  </div>
  <div class="banner_inner">
    <p>Amazon Gold Box and Deals of the Day (Updated Daily!!)</p>
  </div>
  <div class="banner_btn">
    <a target="_blank" href="https://amzn.to/3v2WoU1">Get Deal</a>
  </div>
</div>

<div class="ctn_banner clearfix">
  <div class="banner_pct">
    <p>30%<br>OFF</p>
  </div>
  <div class="banner_inner">
    <p>Up to 30% Off Electronic & Electronic Accessory Coupons Discounts applied at check out or on first subscription.</p>
  </div>
  <div class="banner_btn">
    <a target="_blank" href="https://amzn.to/35aBSpw">Get Deal</a>
  </div>
</div>

<div class="ctn_banner clearfix">
  <div class="banner_pct">
    <p>30%<br>OFF</p>
  </div>
  <div class="banner_inner">
    <p>Up to 30% Off Select Items With Most Popular Amazon Coupons.</p>
  </div>
  <div class="banner_btn">
    <a target="_blank" href="https://amzn.to/3I3kSjN">Get Deal</a>
  </div>
</div>

<div class="ctn_banner clearfix">
  <div class="banner_pct">
    <p>50%<br>OFF</p>
  </div>
  <div class="banner_inner">
    <p>Shop online deals and find low prices on markdowns and overstocks for items such as electronics, home decor, clothing, kitchen gadgets...</p>
  </div>
  <div class="banner_btn">
    <a target="_blank" href="https://amzn.to/3BykrLZ">Get Deal</a>
  </div>
</div>

<div class="ctn_banner clearfix">
  <div class="banner_pct">
    <p>20%<br>OFF</p>
  </div>
  <div class="banner_inner">
    <p>Join Amazon Family 30-Day Free Trial, Save 20% on diapers subscriptions</p>
  </div>
  <div class="banner_btn">
    <a target="_blank" href="https://amzn.to/3JzNEIY">Get Deal</a>
  </div>
</div>

