<div class="side_category">
  <p>Categories</p>
  <ul>
    <li><a href="/posts/hashtag/electronics">Electronics</a></li>
    <li><a href="/posts/hashtag/homeware">Homeware</a></li>
    <li><a href="/posts/hashtag/kitchen">Kitchen</a></li>
    <li><a href="/posts/hashtag/outdoor">Outdoor</a></li>
    <li><a href="/posts/hashtag/pet">Pet</a></li>
    <li><a href="/posts/hashtag/fashion">Fashion</a></li>
  </ul>
  <p>Coupon Type</p>
  <ul>
    <li><a href="/posts/hashtag/online_sale">Online Sale</a></li>
    <li><a href="/posts/hashtag/promotion_code">Promotion Code</a></li>
    <li><a href="/posts/hashtag/under_10">Under $10</a></li>
    <li><a href="/posts/hashtag/half_or_more">50% Off or more</a></li>
  </ul>
</div>