<main class="wrapper">
  <section class="hero">
    <h1>Interested in saving money?</h1>
    <div class="article">
      <ul>        
        <li>We only link to Amazon.</li>
        <li>We hand-picked and verify the best and freshest coupon codes.</li>
        <li>Apply coupon codes at checkout with a single click.</li>
      </ul>
      <a href="/bridges/finder_detail">Find Coupon More</a>
    </div>
  </section>  
</main>
