<div class="tab_bar">  
  <nav>
    <a href="/"><img src="<%=asset_path 'home.svg' %>"></a>
    <a href="/coupons"><img src="<%=asset_path 'coupon.svg' %>"></a>
    <a class="active" href="/picks"><img class="deal" src="<%=asset_path 'deal.svg' %>"></a>
    <a href="/bridges/finder_detail"><img src="<%=asset_path 'search.svg' %>"></a>
  </nav>
</div>