<div class="wrap">

  <div class="index_wrapper">
    
    <%= render 'posts/new_index' %>
  </div>

  <!-- <div class="back_btn_mobile">
    <button onclick="goBack()"><img class="go_back" src="<%=asset_path 'back_btn.png' %>" alt="뒤로가기" /></button>
    <script>
      function goBack() {
        window.history.back();
      }
    </script>
  </div>     -->

  

</div>







    
      
