<header><%= render 'shared/header_index' %></header>

<div class="wrap">

  <div class="index_wrapper">
    <%= render 'posts/index_section' %>
  </div>

  <div class="back_btn_mobile">
    <button onclick="goBack()"><img class="go_back" src="<%=asset_path 'back_btn.png' %>" alt="뒤로가기" /></button>
    <script>
      function goBack() {
        window.history.back();
      }
    </script>
  </div>  

</div>

<div class="wrap">
  <%= raw pagy_nav(@pagy) %>
</div>





    
      
