/****** Index Page *****/
.blog_main_section{margin-top:30px;}
.blog_main_section .b_ctn_box{width:80%;margin:20px auto 50px auto;border-bottom:1px solid #ccc;}
.blog_main_section .b_ctn_box .b_img_box{width:100%;height:200px;}
.blog_main_section .b_ctn_box .b_img_box img{width:100%;height:100%;object-fit:cover;border-radius:20px;} 
.blog_main_section .b_ctn_box .inner{padding:20px 5px 110px 5px;}
.blog_main_section .b_ctn_box .inner h3{font-size:17px;margin:7px 0;}
.blog_main_section .b_ctn_box .inner p{word-break:keep-all;line-height:1.4;height:4.2em;overflow:hidden;display:-webkit-box;display:-ms-flexbox;vertical-align:top;text-overflow:ellipsis;-webkit-box-orient:vertical;-webkit-line-clamp:3;}
.blog_main_section .b_ctn_box .inner .btn{float:right;margin:50px 0;}
.blog_main_section .b_ctn_box .inner .btn a{display:block;padding:10px;border-radius:10px;border:1px solid;width:150px;text-align:center;background-color:#000;color:#fff;}
.blog_main_section .b_ctn_box .inner .admin_panner{margin-top:15px;}

/* Blog main page menu butoon */
.blog_main_section .search_box{margin-bottom:35px;}
.blog_main_section .menu-wrapper{margin:15px;}
.blog_main_section .menu-wrapper .pointer i{margin:0;}
.blog_main_section .menu-wrapper button{background-color:#000;color:#fff;border-radius:10px;padding:5px 13px;margin-left:5px;font-size:13px;}
.blog_main_section .filter-search input{width:90%;margin:0 5%;padding:12px;border-radius:15px;}
.blog_main_section .menu-wrapper .left-pointer{top:-2px;}
.filter-node {position:relative;}
.node-box {padding-top:50px;}
.filter-node.filter-me {opacity:0 !important; visibility:hidden; position:absolute; top: 2000px;}
.node-box {position:absolute; top:0; right:0; bottom:0; left:0;}

    
/****** Show Page *****/
.blog_wrap{}
.blog_wrap .intro{width:90%;margin:0 auto;}
.blog_wrap .intro img{width:100%;height:250px;object-fit:cover;border-radius:20px;}
.blog_wrap .intro .inner{padding:10px 0 0 0;}
.blog_wrap .intro .inner h2{line-height:1.2;font-size:30px;}
.blog_wrap .intro .inner p{margin:10px 0;font-size:17px;padding-bottom:30px;}
.blog_wrap .product_box{border-bottom:1px solid #ccc;padding:5px 10px 20px 10px;}
.blog_wrap .product_box h3{margin-top:20px;font-size:20px;line-height:1.2;}
.blog_wrap .product_box .product_img_box{width:100%;margin:10px auto;height:350px;position:relative;background-color:#fff;border-radius:20px;}
.blog_wrap .product_box .product_img_box img{width:70%;height:70%;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);object-fit:contain;border-radius:20px;}
.blog_wrap .product_box .blog_ctn{}
.blog_wrap .product_box .btn{margin:20px 0;}
.blog_wrap .product_box .btn a{display:inline-block;padding:10px 20px;background-color:#000;color:#fff;border-radius:15px;text-align:center;width:50%;float:left;}
.blog_wrap .product_box .pricing{margin-bottom:20px;}
.blog_wrap .product_box .pricing p{font-size:25px;color:#FFD700;}
.blog_wrap .product_box .pricing p span{font-size:13px;color:#9da3ab;text-decoration:line-through;display:inline-block;margin-left:5px;}
.blog_wrap .product_box .pricing .rating_card{margin-top:5px;}
.blog_wrap .product_box .pricing .rating_card .material-icons{font-size:20px;}
.blog_wrap .product_box .pricing .rating_card span{vertical-align:top;font-weight:100;}


/****** Form Page *****/
/*.blog_form_warp{width:1000px;margin:0 auto;}
.blog_form_warp hr{margin:20px 0;height:0;}
.blog_form_warp .blog_btn input{width:100%;padding:15px;border-radius:15px;}
.blog_form_warp .title_section{margin-bottom:30px;}
.blog_form_warp .title_section input{width:100%;padding:10px;}
.blog_form_warp .title_section desc{height:100px;width:100%;padding:10px;}
.blog_form_warp .content_section{}
.blog_form_warp .content_section p{font-size:30px;font-weight:bold;}
.blog_form_warp .content_section input{width:100%;padding:10px;margin-bottom:10px;}
.blog_form_warp .content_section .ctn_link label{margin-top:15px;}
.blog_form_warp .content_section .data input{float:left;margin:1%;}*/
.trix-content{font-size:17px;}
.trix-content a{color:#08f;}



/******* Middle section CSS Start ******/
.no-js .owl-carousel, .owl-carousel.owl-loaded{height:260px;}
.owl-carousel.owl-drag .owl-item{height:240px;}
.owl-carousel .owl-stage-outer{margin-top:10px;}

/* -------- Landing page ------- */
.blog-section{padding:20px;box-shadow:rgba(149, 157, 165, 0.3) 0px 8px 24px;border-radius:20px;width:90%;margin:50px auto;}
.blog-section .blog_section_title{}
.blog-section .blog_section_title a{display:block;float:right;font-weight:100;font-size:13px;color:#3d3d3d;border-bottom:3px solid;}
.blog-section .sub_title_box{position:relative;height:20px;}
.blog-section .sub_title_box .sub_title_mark{position:absolute;top:-8px;left:-8px;width:30px;height:30px;background:#FFD700;border-radius:50%;z-index: -1;}
    
.blog-section .owl-stage {
  margin: 15px 0;
  display: flex;
  display: -webkit-flex;
}
.blog-section .blog_landing_card {
  margin: 0 15px 60px;
  width: 320px;
  height: 400px;
  display: flex;
  display: -webkit-flex;
  align-items: flex-end;
  -webkit-align-items: flex-end;
  background: #343434 no-repeat center center / cover;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  cursor: pointer;
}
.blog-section .blog_landing_card.active {
  width:320px;
  height:210px;
  /*box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);*/
}
.blog-section .blog_landing_card:after {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
}
.blog-section .inner_ctn {
  padding: 0 24px 12px;
  color: #fff;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transform: translateY(calc(100% - 54px));
  -webkit-transform: translateY(calc(100% - 54px));
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}

.blog-section .blog_landing_card.active .inner_ctn {
  transform: none;
  -webkit-transform: none;
}
.blog-section .inner_ctn h4{font-size:20px;line-height:1.2;}
.blog-section .inner_ctn p {
  opacity: 0;
  -webkit-transform: translateY(32px);
  transform: translateY(32px);
  transition: all 0.4s ease-in-out 0.2s;
  -webkit-transition: all 0.4s ease-in-out 0.2s;
}
.blog-section .blog_landing_card.active .inner_ctn p {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.blog-section .owl-theme.custom-carousel .owl-dots {
  margin-top: -20px;
  position: relative;
  z-index: 5;
}
/******** Middle section CSS End *******/

/***** responsive css Start ******/

@media (min-width: 992px) and (max-width: 1199px) {
  /*h2 {
    margin-bottom: 32px;
  }
  h3 {
    margin: 0 0 8px;
    font-size: 24px;
    line-height: 32px;
  }*/

  .blog-section .blog_landing_card {
    margin: 0 12px 60px;
    width: 260px;
    height: 360px;
  }
  .blog-section .blog_landing_card.active {
    width: 400px;
  }
  .blog-section .inner_ctn {
    transform: translateY(calc(100% - 46px));
    -webkit-transform: translateY(calc(100% - 46px));
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /*h2 {
    margin-bottom: 32px;
  }
  h3 {
    margin: 0 0 8px;
    font-size: 24px;
    line-height: 32px;
  }*/
  
  /* -------- Landing page ------- */

  .blog-section .blog_landing_card {
    margin: 0 12px 60px;
    width: 240px;
    height: 330px;
  }
  .blog-section .blog_landing_card.active {
    width:335px;
  }
  .blog-section .inner_ctn {
    transform: translateY(calc(100% - 42px));
    -webkit-transform: translateY(calc(100% - 42px));
  }
}

@media (max-width: 767px) {
 
  /* -------- Landing page ------- */
  
  .blog-section .blog_landing_card {
    margin: 0 10px 40px;
    width: 200px;
    height: 280px;
  }
  .blog-section .blog_landing_card.active {
    width: 300px;
    box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
  }
  .blog-section .inner_ctn {
    padding: 0 14px 5px;
    transform: translateY(calc(100% - 42px));
    -webkit-transform: translateY(calc(100% - 42px));
  }
}





























/******** New Index for Blog Page with 1200px and responsive ********/
.outline{width:1200px;margin:0 auto;}
.outline_left{float:left;width:68%;margin:30px 2% 0 0;}
.outline_left .blogger_nav{}
.outline_left .latest_blog{padding:20px;}
.outline_left .latest_blog .img_box{height:350px;}
.outline_left .latest_blog .img_box img{width:100%;height:100%;object-fit:cover;border-radius:20px;}
.outline_left .latest_blog .inner{padding:0 20px;}
.outline_left .latest_blog .inner h2{font-size:30px;line-height:1.2;}
.outline_left .latest_blog .inner p{font-size:17px;}

.outline_left .except_first_blogs{margin-top:30px;}
.outline_left .except_first_blogs .efb_card{padding:20px;}
.outline_left .except_first_blogs .efb_card .img_box{float:left;width:40%;margin-right:5%;height:200px;}
.outline_left .except_first_blogs .efb_card .img_box img{width:100%;height:100%;object-fit:cover;border-radius:20px;}
.outline_left .except_first_blogs .efb_card .inner{float:left;width:55%;padding:15px 0;}
.outline_left .except_first_blogs .efb_card .inner span{}
.outline_left .except_first_blogs .efb_card .inner h3{margin:5px 0;}
.outline_left .except_first_blogs .efb_card .inner p{font-size:17px;}
.outline_left .except_first_blogs .efb_card .inner .admin_panner{margin-top:10px;}
.outline_left .back_to_btn{}
.outline_left .back_to_btn a{}
.outline_left .back_to_btn a img{position:fixed;bottom:10px;left:10px;opacity:0.4;z-index:10;width:50px;}
.outline_left .for_show_page a img{bottom:65px;}

/**** Coupon ****/
.outline_left .index_wrap{margin-top:23px;}
.outline_left .n_coupon_wrap{margin:0;}
.outline_left .card_ctn_box{width:31.33% !important;}
.outline_left .show-wrap .image-box{box-shadow:none;float:left;width:40%;}
.outline_left .show-wrap .image-box img{width:85%;height:85%;}
.outline_left .show-wrap .new_title_wrap{border-top:1px solid;border-bottom:1px solid;}
.outline_left .show-wrap .inner-box{float:left;width:60%;}
.outline_left .show-wrap .coupon-inner-box{box-shadow:none;}
.outline_left .code_modal.is-show{width:40%;}

/**** Post ****/
.outline_left .product{width:31.33% !important;border:none;}
.outline_left .post_tabs{box-shadow:none;}


  
.outline_right{float:left;width:30%;margin:30px 0 0 0;}
.outline_right .banner{border:1px solid;margin-bottom:30px;border-radius:20px;}
.outline_right .banner h3.subject{height:50px;background-color:#000;color:#fff;padding:10px 20px;font-size:22px;line-height:1.3;border-top-left-radius:20px;border-top-right-radius:20px;line-height:inherit;}
.outline_right .banner .img_box{width:100%;height:300px;position:relative;}
.outline_right .banner .img_box img{width:85%;height:85%;border-radius:20px;object-fit:cover;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);}
.outline_right .banner .inner{padding:10px 20px;}
.outline_right .banner .inner span.featured_span{background-color:#000;color:#fff;padding:7px 15px;border-radius:10px;}
.outline_right .banner .inner h4{margin-top:7px;}

.outline_right .featured_deals{margin-top:30px;background-color:#fff;}


.outline_right .popular_blogs{border:1px solid;border-radius:20px;background-color:#fff;}
.outline_right .popular_blogs h3.subject{height:50px;background-color:#000;color:#fff;padding:10px 20px;font-size:22px;line-height:1.3;border-top-left-radius:20px;border-top-right-radius:20px;}
.outline_right .popular_blogs .popular_blogs_wrap{padding:20px 10px 0 10px;background-color:#fff;border-bottom-right-radius:20px;border-bottom-left-radius:20px;}
.outline_right .popular_blogs .popular_blogs_wrap .pb_card{margin-bottom:20px;border-bottom:1px solid #ccc;padding-bottom:20px;}
.outline_right .popular_blogs .popular_blogs_wrap .pb_card .img_box{float:left;width:35%;margin-right:5%;height:100px;padding:0 !important;}
.outline_right .popular_blogs .popular_blogs_wrap .pb_card .img_box img{width:100%;object-fit:cover;height:100%;border-radius:20px;}
.outline_right .popular_blogs .popular_blogs_wrap .pb_card .inner{float:left;width:60%;padding-top:5px;line-height:1.3;}
.outline_right .popular_blogs .popular_blogs_wrap .pb_card .inner h3{text-decoration:underline;}

/**** Quick Search ****/
.outline_right .banner .blog_quick_search{background-color:#fff;margin:0;border-radius:20px;}
.outline_right .banner .blog_quick_search .set_search_box{margin:0;padding:20px 15px;}
.outline_right .banner .blog_quick_search .feild_wrap{width:100%;margin-bottom:10px;}
.outline_right .banner .blog_quick_search .keyword_box{}
.outline_right .banner .blog_quick_search .keyword_box input{width:100%;border-radius:20px;padding:10px 20px;border:2px solid;}
.outline_right .banner .blog_quick_search .text-center{padding:0;}
.outline_right .banner .blog_quick_search .text-center button{background-color:#000;color:#fff;width:60%;font-size:17px;}



.outline_right .banner .tap_tainer{max-width:75rem;height:auto;margin:0 auto;background-color:#fff;border-radius:20px;}
.outline_right .banner .tab{width:100%;height:auto;border-radius:20px;}
.outline_right .banner .tab-menu{display:flex;flex-direction:row;justify-content:space-between;align-items:center;max-width:100%;height:auto;margin:0 auto;border-bottom:1.3px solid #dbdbdb;transition:all 0.3s ease;}
.outline_right .banner .tab-menu-link{position:relative;overflow:hidden;font-family:inherit;font-size:1rem;font-weight:600;line-height:inherit;cursor:pointer;width:calc(100% / 2);height:auto;padding:1rem 0;border-bottom:2.5px solid transparent;color:#9194a1;background:#ffffff;transition:all 0.3s ease;}
.outline_right .banner .tab-menu-link::before{position:absolute;content:"";top:0;left:0;width:100%;height:auto;z-index:2;}
.outline_right .banner .tab-menu-link.is-active {bottom:0px;z-index:0;overflow:hidden;border-bottom:2.5px solid #000;color:#000;background:#ffffff;}
.outline_right .banner .tab-bar{padding:10px 0 15px 0;overflow:hidden;background:#ffffff;}
.outline_right .banner .tab-bar-content {display:none;width:100%;min-height:10rem;transition:all 0.3s ease;}
.outline_right .banner .tab-bar-content.is-active{display:block;}
.outline_right .banner .tab-bar-content .tab_card{margin-bottom:10px;height:130px;border-bottom:1px solid #ccc;}
.outline_right .banner .tab-bar-content .tab_card .img_box{float:left;width:35%;height:130px;}
.outline_right .banner .tab-bar-content .tab_card .img_box img{width:80%;height:80%;object-fit:contain;}
.outline_right .banner .tab-bar-content .tab_card .inner{float:left;width:65%;}
.outline_right .banner .tab-bar-content .tab_card .inner span.promocode{color:#fff;background-color:#000;padding:3px 7px;border-radius:10px;font-size:11px;}
.outline_right .banner .tab-bar-content .tab_card .inner span.coupon{color:#fff;background-color:#000;padding:3px 7px;border-radius:10px;font-size:11px;}
.outline_right .banner .tab-bar-content .tab_card .inner p{color:#000;font-size:13px;}
.outline_right .banner .tab-bar-content .tab_card .inner .pricing{margin:5px 0 0 0;}
.outline_right .banner .tab-bar-content .tab_card .inner .pricing span.is_price {color:#000;font-size:17px;}
.outline_right .banner .tab-bar-content .tab_card .inner .pricing span.was_price{color:#ccc;font-size:13px;text-decoration:line-through;margin-left:5px;}
.outline_right .banner .tab-bar-content .more_btn{margin-top:20px;width:100%;padding:0 15px;}
.outline_right .banner .tab-bar-content .more_btn a{font-size:15px;color:#fff;background-color:#000;border-radius:15px;padding:7px 10px;width:40%;display:block;text-align:center;float:right}


@media screen and (max-width:640px){
  .outline{width:100%;}
  .outline_left{width:100%;margin-top:0;}
  .outline_left .except_first_blogs .efb_card{padding:10px;}
  .outline_left .except_first_blogs .efb_card .inner p, .outline_left .latest_blog .inner p{font-size:15px;}
  .outline_left .except_first_blogs .efb_card .inner h3{line-height:1.25;}
  .outline_left .except_first_blogs .efb_card .img_box{padding:0;}
  .outline_left .card_ctn_box{width:48% !important;}/**** Coupon ****/
  .outline_left .product{width:48% !important;height:280px !important;}/**** Post ****/
  .outline_left .latest_blog .img_box{padding:0;}
  .outline_left .latest_blog .inner{padding:10px 0;}
  .outline_left .show-wrap{background-color:#f6f6f6;margin-top:25px;}
  .outline_left .show-wrap .image-box{float:none;width:100%;}
  .outline_left .show-wrap .inner-box{float:none;width:100%;}
  .outline_left .show-wrap .container{padding:0 10px;}
  .outline_left .show-wrap .notice{margin:0;}
  .outline_left .show-wrap .new_title_wrap{margin-bottom:15px;}
  .outline_left .show-wrap .new_title_wrap h2{font-size:18px;}
  .outline_left .code_modal.is-show{width:90%;}
  .outline_left .post_tabs{background-color:#f6f6f6;padding:30px 10px;}


  .outline_right{width:100%;padding:0 5%;margin-bottom:100px;}


}


@media screen and (min-width:641px) and (max-width:1199px){
  .outline{width:100%;}
  .outline_left{width:100%;margin:30px 0 0 0;}
  .outline_right{width:100%;padding:0 5%;}
  .outline_left .blogger_nav{width:95%;margin:0 auto;}
  .menu-wrapper .menu-item{width:98%;margin:0 auto;}
  .show-wrap .container{background-color:#f6f6f6;}
  /*.outline_left{margin:0;}
  .outline_right{padding:0 10px;}
  .outline_right .banner h3.subject, .outline_right .popular_blogs h3.subject{height:45px;font-size:18px;}
  .outline_right .banner .blog_quick_search .text-center button{width:100%;}
  .outline_right .banner .img_box{height:250px;}
  .outline_right .banner .img_box img{object-fit:cover;}
  .outline_right .banner .tap_tainer{padding:0 10px;}
  .outline_right .banner .tab-menu-link{font-size:14px;}*/

}













