@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@200&display=swap');

h1,h2,h3,h4,h5,h6,p,ul,li,address,form,fieldset,legend,input,button,dl,dt,dd,table,thead,tbody,tfoot,tr,th,td{margin:0;padding:0;font-family:inherit;}
a img{border:0;}
a{text-decoration:none;color:#000;}
ul,li{list-style:none;}
em,address{font-style:normal;}
fieldset{border:0;}
legend{display:none;}
button{border:0;background:none;cursor:pointer;}
table caption{display:none;}
input, textarea, select{border:1px solid #ccc;-moz-appearance:none;appearance:none;-webkit-appearance:none;outline:none;}
*{box-sizing:border-box;}

.clearfix:after{display:block;clear:both;content:".";visibility:hidden;height:0;}
.clearfix{display:block;}

body{margin:0;padding:0;font-size:15px;color:#000;line-height:1.5;font-weight:300;-webkit-scrollbar:none;font-family: 'Barlow', sans-serif;background-color:#f6f6f6;}
@media screen and (max-width:640px){
  body{font-size:13px;font-weight:400;}
}
@media screen and (min-width:641px) and (max-width:1199px){
  body{font-size:13px;font-weight:400;}
}

.layout{min-width:1200px;width:100%;}
.wrap{width:1200px;margin:0 auto;}
@media screen and (max-width:640px){
  .layout{min-width:0;}
  .wrap{width:auto;margin:0 3%;}
}
@media screen and (min-width:641px) and (max-width:1199px){
  .layout{min-width:0;}
  .wrap{width:auto;margin:0 3%;}
}

/****** Common Css *****/
/** 2 sentences **/
.two_sentences{word-break:keep-all;line-height:1.4;height:2.8em;overflow:hidden;display:-webkit-box;display:-ms-flexbox;vertical-align:top;text-overflow:ellipsis;-webkit-box-orient:vertical;-webkit-line-clamp:2;}
.three_sentences{word-break:keep-all;line-height:1.4;height:4.2em;overflow:hidden;display:-webkit-box;display:-ms-flexbox;vertical-align:top;text-overflow:ellipsis;-webkit-box-orient:vertical;-webkit-line-clamp:3;}
.four_sentences{word-break:keep-all;line-height:1.4;height:5.6em;overflow:hidden;display:-webkit-box;display:-ms-flexbox;vertical-align:top;text-overflow:ellipsis;-webkit-box-orient:vertical;-webkit-line-clamp:4;}




/*Header */
/*header{position:relative;height:60px;}
header nav{padding:15px 30px 10px 30px;width:100%;margin:0 auto;position:relative;}
header nav .header_back{}
header nav .header_back a{display:block}
header nav .header_back a img{width:30px;position:absolute;}
header nav h1, header nav h2{text-align:center;font-family: 'KoHo', sans-serif;}
header nav h1 a, header nav h2 a{color:#404041;font-weight:100;}
header nav img{width:25%;}
header nav ul{line-height:5px;}
header nav ul li{display:inline-block;float:left;}
header nav ul li:not(:first-child){margin-left:25px;}
header nav ul li a{display:inline-block;outline:none;color:#1f2227;font-size:16px;text-decoration:none;letter-spacing:0.04em;}
header nav ul li a:hover{color:#808080;text-decoration:none;}
#nav:checked + .nav-open{transform:rotate(45deg);}
#nav:checked + .nav-open i{background:#000;transition:transform 0.2s ease;}
#nav:checked + .nav-open i:nth-child(1){transform:translateY(6px) rotate(180deg);}
#nav:checked + .nav-open i:nth-child(2){opacity:0;}
#nav:checked + .nav-open i:nth-child(3){transform:translateY(-6px) rotate(90deg);}
#nav:checked ~ .nav-container{z-index:888;opacity:1;}
#nav:checked ~ .nav-container ul li a{opacity:1;transform:translateY(0);}
.hidden{display:none;}


header nav button{position:absolute;top:29%;left:5%;}
header nav button img{width:25px;height:25px;}

@media screen and (max-width: 560px) {
  header nav{width:100%;}
  header nav img{width:70%;}
  header .nav-container{position:fixed;top:0;left:0;height:100%;width:100%;z-index:-1;background:#fff;opacity:0;transition:all 0.2s ease;}
  header .nav-container ul{position:absolute;top:50%;transform:translateY(-50%);width:100%;}
  header .nav-container ul li{display:block;float:none;width:100%;text-align:center;margin-bottom:10px;}
  header .nav-container ul li:nth-child(1) a{transition-delay:0.2s;}
  header .nav-container ul li:nth-child(2) a{transition-delay:0.3s;}
  header .nav-container ul li:nth-child(3) a{transition-delay:0.4s;}
  header .nav-container ul li:nth-child(4) a{transition-delay:0.5s;}
  header .nav-container ul li:not(:first-child){margin-left:0;}
  header .nav-container ul li a{padding:10px 25px;opacity:0;color:#000;font-size:24px;font-weight:600;transform:translateY(-20px);transition:all 0.2s ease;}
  header .nav-open{position:fixed;right:10px;top:6px;display:block;width:48px;height:48px;cursor:pointer;z-index:8888;border-radius:50%;}
  header .nav-open i{display:block;width:20px;height:2px;background:#000;border-radius:2px;margin-left:14px;}
  header .nav-open i:nth-child(1){margin-top:16px;}
  header .nav-open i:nth-child(2){margin-top:4px;opacity:1;}
  header .nav-open i:nth-child(3){margin-top:4px;}
  header nav button{display:block;}
}
@media screen and (min-width:641px) and (max-width:1199px){
  header nav{width:100%;}
  header nav button{display:block;}
}*/


.where-hashtag{margin-left:15px;}
.where-hashtag h2{font-size:25px;}
.where-hashtag h2.hashtag_label{font-size:13px;color:#000;padding-top:7px;}
.where-hashtag h3{color:#fff;font-size:20px;display:inline-block;background-color:#000;padding:5px 10px;border-radius:15px;}
.hashtag-through{display:inline;text-transform:uppercase;}
@media screen and (max-width:640px){
  .where-hashtag{margin:20px;}
  .where-hashtag h2{font-size:18px;}
  .where-hashtag h3{font-size:15px;}
}

/* Btn for back */
.back_btn_mobile{position:fixed;bottom:10px;left:10px;display:none;}
.back_btn_mobile a{display:block;}
.back_btn_mobile a img, .back_btn_mobile button img{width:50px;height:50px;opacity:0.3;}

@media screen and (max-width:640px){
  .back_btn_mobile{display:block;}
}

/* From Page */
.hotdeal_form{width:1200px;}
.hotdeal_form .basic_info{width:800px;}
.hotdeal_form input, .hotdeal_form textarea{display:block;width:100%;height:40px;margin-bottom:20px;border:1px solid #ccc;}
.hotdeal_form textarea{height:80px;}
.hotdeal_form trix-editor{min-height:15em;}
.hotdeal_form label{font-size:13px;}
.hotdeal_form .pricing div{float:left;margin:1%;}
.hotdeal_form .pricing div .promo_code{width:500px;margin-right:1%;}
.hotdeal_form .pricing div .promo_date{width:300px;}
.hotdeal_form .form_btn input{margin-top:10px;background:#000;color:#fff;padding:15px 0;}

.post_form label{font-size:10px;}
.post_form .hashtag div{width:200px;float:left;margin-right:20px;}
.post_form .pricing div{width:100px;margin: 0 0.5%;}
.post_form .star_01 div{width:70px;}


/********** Footer Section **********/
.footer{background:#404041;padding:7px;width:100%;}
.footer .footer_box{margin:0 30px;}
.footer a{text-align:center;color:#fff;display:inline-block;}
.footer a.random_deal{color:#404041;}


/********** About admin **********/
.registration_admin{padding:10px 20px 15px 20px;border:1px solid #08f;border-radius:15px;}
.registration_admin p{margin-bottom:10px;color:#fff;}
.registration_admin span a{border:1px solid #08f;color:#08f;font-size:15px;padding:5px 10px;border-radius:15px;}


/* Btn for back */
.back_btn_mobile{position:fixed;bottom:10px;left:10px;display:none;}
.back_btn_mobile a{display:block;}
.back_btn_mobile a img, .back_btn_mobile button img{width:50px;height:50px;opacity:0.6;background:#fff;border-radius:50%;}

@media screen and (max-width:640px){
  .back_btn_mobile{display:block;}
}



.pagy-nav{margin:50px 0 30px 0;}
.pagy-nav .page{padding:10px;color:#000;}
.pagy-nav .active{color:#fff;background:#000;padding:10px;border-radius:10px;}
@media screen and (max-width:640px){
  .pagy-nav{margin:50px 0 70px 0;}
}


/* error page */
#main{display:table;width:100%;height:100vh;text-align:center;transition:all .6s}
.fof{display:table-cell;vertical-align:middle}
.fof h1{font-size:50px;display:inline-block;padding-right:12px;animation:type .5s alternate infinite}

@keyframes type{
    from{box-shadow: inset -3px 0px 0px #888;}
    to{box-shadow: inset -3px 0px 0px transparent;}
}

.hero_box{border:3px solid;width:300px;height:200px;position:relative;border-radius:20px;padding:10px;margin:0 5px;}
.hero_box a{display:block;}
.hero_box .inner{text-align:center;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);width:100%;font-weight:bold;}
.hero_box .inner p{font-size:25px;margin-bottom:10px;}
.hero_box .inner em{display:block;font-size:20px;}
.hero_box .inner span{font-size:45px;line-height:0.8;text-decoration:underline;}

.tab_bar{display:none;}
.tab_bar nav{position:fixed;bottom:0;left:50%;transform:translate(-50%,0);width:100%;display:flex;background:#fff;padding:5px;/*border-radius:0 0 30px 30px;*/box-shadow:0 1px 15px rgba(0,0,0,.1)}
.tab_bar a{line-height:initial;color:inherit;text-decoration:none;margin:0 .2rem;text-align:center;align-items:center;padding:5px;border-radius:30px;position:relative;--hover-bg:#5b37b720;--hover-c:#5b37b7;width:25%}
.tab_bar a svg{margin-right:-2.5rem;width:28px;height:28px;pointer-events:none;transition:margin .2s ease-out}
.tab_bar a img{width:30px;align-items:center;vertical-align:sub;}
.tab_bar a img.deal{margin-top:2px;}
.tab_bar a.active{background-color:rgba(38,38,38,0.2);}

@media (max-width: 500px) {
  .tab_bar{display:block;}
  .tab_bar nav{/*flex-direction: column;*/justify-self:start;/*border-radius: 0 30px 30px 0;*/}
  .tab_bar nav svg{margin:0;}
}


/*** btn to amazon site ***/
.btn .mobile_btn{display:none;}
@media (max-width: 500px) {
  .btn .pc_btn{display:none;}
  .btn .mobile_btn{display:block;}
}


/***** privacy policy *****/
.policy_box{margin:auto 5%;}
.policy_box p{margin:10px 0;}
.policy_box span.sub_title{font-size:15px;font-weight:bold;}

/***** Rich text color *****/
/*.trix-content strong em{color:#FFD700;}*/


/***** Main Header *****/


header{height:80px;position:relative;}
header .container {
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  margin: 0px auto;
  height: 100%;
  transition: 0.3s;
  background-color:#f6f6f6;
}
header .container .logo {
  position: relative;
  width:13%;
}
header .container .logo span:nth-of-type(1) {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: 600;
}
header .container .mobile_nav {
  margin: 1px 10px 0;
  display: none;
}
header .container .mobile_nav .burger {
  width: 19px;
  height: 19px;
  position: relative;
  overflow: hidden;
}
header .container .mobile_nav .burger:active .top, header .container .mobile_nav .burger:focus .top, header .container .mobile_nav .burger:hover .top {
  width: 60% !important;
}
header .container .mobile_nav .burger:active .middle, header .container .mobile_nav .burger:focus .middle, header .container .mobile_nav .burger:hover .middle {
  width: 70% !important;
}
header .container .mobile_nav .burger:active .bottom, header .container .mobile_nav .burger:focus .bottom, header .container .mobile_nav .burger:hover .bottom {
  width: 80% !important;
}
header .container .mobile_nav .burger .mobile_nav__label {
  margin: -10px 5px;
  width: 135px;
  position: absolute;
  display:none;
}
header .container .mobile_nav .burger .stripe {
  height: 4px;
  background: black;
  position: absolute;
  transition: 0.2s ease;
}
header .container .mobile_nav .burger .top {
  right: 0;
  top: 0;
  width: 100%;
}
header .container .mobile_nav .burger .middle {
  left: 0;
  top: 0;
  margin: 6.9px 0;
  width: 60%;
}
header .container .mobile_nav .burger .bottom {
  right: 0;
  top: 0;
  margin: 14px 0;
  width: 80%;
}
header .container .head_nav {
  margin: 0 50px;
  width: 100%;
}
header .container .head_nav ul {
  /*text-align: center;*/
}
/*header .container .head_nav ul .visited a:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background: black;
  margin: 15.5px 0;
  right: 0;
}*/
header .container .head_nav ul li {
  display: inline-block;
  margin: 0 15px;
}
header .container .head_nav ul li a {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.8px;
  position: relative;
}
header .container .head_nav ul li a:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 4px;
  background: black;
  transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  margin: 15.5px 0;
  right: 0;
}
header .container .head_nav ul li a:hover:after {
  width: 100%;
  left: 0;
}
header .container .icons {
  min-width: 85px;
}
header .container .icons a {
  margin: 0 5px 0;
  display: block;
  height: 27px;
  width: 27px;
}
header .container .icons a:hover svg {
  fill: #4c4c4c !important;
}
header .container .icons a:active svg {
  fill: #3F51B5 !important;
}
header .container .icons .block {
  display: inline-block;
}
header .container .icons svg {
  display: block;
  transition: 0.2s ease;
}

.mobile_menu {
  background: black;
  width: 90%;
  height: 420px;
  top: 65px;
  left: 0;
  margin: 10px 20px;
  border-radius: 4px;
  position: absolute;
  display: none;
}
.mobile_menu:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 15px 15px 15px;
  border-color: transparent transparent #000000 transparent;
  margin: -10px 35px;
}
.mobile_menu nav {
  padding: 50px;
}
.mobile_menu nav ul .slide a {
  opacity: 1;
  position: relative;
  animation: hidecolor 0.8s ease;
}
.mobile_menu nav ul .slide a:before {
  content: "";
  position: absolute;
  background: #3F51B5;
  width: 0%;
  height: 35px;
  animation: slide 0.8s ease;
}
.mobile_menu nav ul li {
  margin: 30px 0px;
  display:block;
}
.mobile_menu nav ul li a {
  font-family: "Montserrat", sans-serif;
  opacity: 0;
  font-size: 25px;
  font-weight: 600;
  padding: 10px 0px;
  color: white;
}

@media only screen and (max-width: 1100px) {
  .mobile_menu {
    display: none;
  }

  header .container {
    width: 700px;
  }
}
@media only screen and (max-width: 800px) {
  .mobile_menu {
    display: none;
  }

  header {
    padding: 0 50px;
    height: 60px;
  }
  header .container {
    width: 100%;
  }
  header .container .icons a {
    width: 25px;
    height: 25px;
  }
  header .head_nav {
    display: none;
  }
  header .logo {
    width: 100%;
    text-align: center;
  }
  header .mobile_nav {
    cursor: pointer;
    display: block !important;
  }
  header .mobile_nav .stripe {
    width: 100% !important;
  }
}
@media only screen and (max-width: 500px) {
  header {
    padding: 0 20px;
  }
  header .logo span {
    font-size: 20px !important;
  }
  header .container .logo{width:100%;}

  .mobile_menu {
    height: 225px;
    z-index:999;
  }
  .mobile_menu:before {
    margin: -10px 5px;
  }
  .mobile_menu nav {
    padding: 30px 50px;
  }
  .mobile_menu nav ul li {
    margin: 20px 0px;
  }
  .mobile_menu nav ul li a {
    font-size: 18px;
  }
  .mobile_menu nav ul li a:before {
    height: 23px !important;
  }
}
@keyframes slide {
  0% {
    width: 0;
    padding: 0px 10px;
    margin: 0px -5px;
  }
  80% {
    width: 105%;
    padding: 0px 10px;
    margin: 0px -5px;
  }
  100% {
    width: 0;
    padding: 0 0;
  }
}
@keyframes hidecolor {
  0% {
    color: black;
  }
  75% {
    color: black;
  }
  100% {
    color: white;
  }
}


















