/* Coupon Section ***************************************************************/
.trending_box{margin-bottom:50px;}
.trending{}
.trending section{display:none;padding:20px 0;border-top:1px solid #ddd}
.trending input{display:none}
.trending label{display:inline-block;margin:0 0 -1px;padding:15px 25px;font-weight:600;text-align:center;color:#bbb;border:1px solid transparent}
.trending label:before{font-family:fontawesome;font-weight:400;margin-right:10px}
/*.trending label[for*="1"]:before{content:"1"}.trending label[for*="2"]:before{content:"2"}*/
.trending label:hover{color:#888;cursor:pointer}
.trending input:checked+label{color:#555;border:1px solid #ddd;border-top:5px solid #70b7b5;border-bottom:1px solid #fff}
#tab1:checked~#content1,#tab2:checked~#content2{display:block}

.trending .trend_comm .coupon_card{float:left;width:50%;margin-bottom:10px;border-right:1px solid #ccc;border-left:1px solid #ccc;padding:0 10px;}
.trending .trend_comm .coupon_card .img_box{float:left;width:60%;}
.trending .trend_comm .coupon_card .inner{float:left;width:33%;margin-left:2%;}
.trending .trend_comm .coupon_card .inner span.trend_title{font-size:17px;}
.trending .trend_comm .coupon_card .inner em.pricing{}
.trending .trend_comm .coupon_card .inner span.is_price{}
.trending .trend_comm .coupon_card .inner span.was_price{}
.trending .trend_comm .coupon_card .inner span.pct{}
.trending span.trend_title{width:100%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;display:inline-block;vertical-align:bottom;margin-right:10px;}
.trending em.pricing{}
.trending span.is_price{}
.trending span.was_price{color:#ccc;text-decoration:line-through;margin:0 5px;}
.trending span.pct{font-weight:bold;color:#fff;background:#70b7b5;border-radius:15px;padding:3px 5px;}

@media screen and (max-width:640px){
  .trending input:checked + label{width:50%;}
  .trending section{padding:20px 5px;}
  .trending .trend_comm .coupon_card{float:none;width:100%;margin:0 0 7px 0;border:none;padding:0;}
  .trending .trend_comm .coupon_card .img_box{float:left;width:68%;}
  .trending .trend_comm .coupon_card .inner{float:left;width:30%;margin-left:2%;}
  .trending .trend_comm .coupon_card .inner span.is_price{margin-right:5px;}
  .trending .trend_comm .coupon_card .inner span.was_price{display:none;}
  .trending span.pct{font-size:11px;padding:3px 5px;}
  .trending label{font-size:12px;padding:10px;}
  .trending label:before{margin: 0;font-size: 18px;}
}

@media screen and (min-width:641px) and (max-width:1199px){
  .trending .trend_comm .coupon_card{float:none;width:100%;margin:0 0 7px 0;border:none;padding:0;}
}


@media screen and (max-width: 400px) {
  .trending label{padding:7px;}
}


/* Deals Section ***************************************************************/
.deals_box{width:1200px;height:100%;}
.deals_box a{}
.deals_box img{width:300px;height:250px;margin:0 5px;border-radius:20px;}

.deals_box .owl-carousel .owl-stage-outer{height:330px;}


/* -------- title style ------- */
.line-title {
  position: relative;
  width: 400px;
  padding-bottom:10px;

}
.line-title::before,
.line-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  border-radius: 2px;
}
.line-title::before {
  width: 100%;
  background: #f2f2f2;
}
.line-title::after {
  width: 32px;
  background: #e73700;
}

/******* Middle section CSS Start ******/
/* -------- Landing page ------- */
.game-section {
  padding:30px 10px;
}
.game-section .owl-stage {
  margin: 15px 0;
  display: flex;
  display: -webkit-flex;
}
.game-section .item {
  margin: 0 15px 60px;
  width:300px;
  height:300px;
  display: flex;
  display: -webkit-flex;
  align-items: flex-end;
  -webkit-align-items: flex-end;
  background: #343434 no-repeat center center / cover;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.game-section .item:after {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.game-section .owl-theme.custom-carousel .owl-dots {
  margin-top: -20px;
  position: relative;
  z-index: 5;
}

@media screen and (max-width:640px){
  .deals_box{width:100%;margin:0;}
  .game-section{padding:0;}
}

@media screen and (min-width:641px) and (max-width:1199px){
  .deals_box{width:100%;margin:0;}
}

@media (min-width: 992px) and (max-width: 1199px) {
  
  /* -------- Landing page ------- */
  .game-section {
    padding: 50px 30px;
  }
  .game-section .item {
    margin: 0 12px 60px;
    width: 260px;
    height: 360px;
  }
  
}

@media (min-width: 768px) and (max-width: 991px) {
  
  .line-title {
    width: 330px;
  }

  /* -------- Landing page ------- */
  .game-section {
    padding:30px 0;
  }
  .game-section .item {
    margin: 0 12px 60px;
    width: 240px;
    height: 330px;
  }
  
}

@media (max-width: 767px) {
  .line-title {
    width: 270px;
    font-size:17px;
  }

  /* -------- Landing page ------- */
  .game-section .item {
    margin: 0 10px 40px;
    width: 270px;
    height: 270px;
  }
}
