.coupon_wrap{}
.coupon_wrap .card{float:left;width:23%;margin:1%;height:350px;background:#fff;padding:30px 20px 20px 20px;border-radius:20px;}
.coupon_wrap .card .img_box{height:200px;position:relative;}
.coupon_wrap .card .img_box img{width:100%;height:100%;object-fit:contain;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);}
.coupon_wrap .card .inner{margin:20px 0;color:#000;}
.coupon_wrap .card .inner p{font-size:18px;margin:5px 0;word-break:break-all;line-height:1.4;height:1.4em;overflow:hidden;display:-webkit-box;display:-ms-flexbox;vertical-align:top;text-overflow:ellipsis;-webkit-box-orient:vertical;-webkit-line-clamp:1;}
.coupon_wrap .card .inner em{font-size:20px;}
.coupon_wrap .card .inner em span.was_price{text-decoration:line-through;margin:0 5px;font-size:15px;color:#bfbfbf;}
.coupon_wrap .card .inner em span.pct{background:#08f;color:#fff;padding:3px 7px;border-radius:15px;font-size:15px;}
.coupon_wrap .card .admin_controller{margin-top:-10px;}
.coupon_wrap .card .admin_controller span{color:#fff;background:#00b300;padding:3px;border-radius:20px;}
.coupon_wrap .card .admin_controller a{color:#000;}

@media screen and (max-width:640px){
  .coupon_wrap .card{float:left;width:48%;margin:2% 1%;height:300px;position:relative;padding-top:50px;}
  .coupon_wrap .card .img_box{height:150px;}
  .coupon_wrap .card .inner{margin:15px 0;}
  .coupon_wrap .card .inner p{font-size:15px}
  .coupon_wrap .card .inner em{font-size:18px;}
  .coupon_wrap .card .inner em span.pct{font-size:17px;width:40%;text-align:center;position:absolute;top:5px;left:5px;padding:7px 0;}
}

@media screen and (min-width:641px) and (max-width:1199px){
  .coupon_wrap .card{float:left;width:31.33%;margin:2% 1%;height:350px;position:relative;padding-top:40px;}
  .coupon_wrap .card .inner p{font-size:13px}
  .coupon_wrap .card .inner em{font-size:15px;}
}