.coupon_box{margin-top:30px;}
/* Coupon Section ***************************************************************/
.trending_box{padding:10px;margin:20px 0 50px 0;}
.trending{}
.trending section{display:none;padding:20px 0;border-top:1px solid #ddd}
.trending input{display:none}
.trending label{display:inline-block;margin:0 0 -1px;padding:15px 25px;font-weight:600;text-align:center;color:#bbb;border:1px solid transparent}
.trending label:before{font-family:fontawesome;font-weight:400;margin-right:10px}
/*.trending label[for*="1"]:before{content:"1"}.trending label[for*="2"]:before{content:"2"}*/
.trending label:hover{color:#888;cursor:pointer}
.trending input:checked+label{color:#555;border:1px solid #ddd;border-top:5px solid #000;border-bottom:1px solid #fff}
#tab1:checked~#content1,#tab2:checked~#content2{display:block}

.trending .trend_comm .coupon_card{margin-bottom:10px;border-right:1px solid #ccc;border-left:1px solid #ccc;padding:0 10px;}
.trending .trend_comm .coupon_card .img_box{float:left;width:60%;}
.trending .trend_comm .coupon_card .inner{float:left;width:38%;margin-left:2%;text-align:center;}
.trending .trend_comm .coupon_card .inner span.trend_title{font-size:17px;}
.trending .trend_comm .coupon_card .inner em.pricing{}
.trending .trend_comm .coupon_card .inner span.is_price{}
.trending .trend_comm .coupon_card .inner span.was_price{}
.trending .trend_comm .coupon_card .inner span.pct{}
.trending .trend_comm .coupon_card .inner .view{font-size:10px;}
.trending span.trend_title{width:100%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;display:inline-block;vertical-align:bottom;margin-right:10px;}
.trending em.pricing{}
.trending span.is_price{margin-right:10px;}
.trending span.was_price{color:#ccc;text-decoration:line-through;margin:0 5px;display:none;}
.trending span.pct{font-weight:bold;color:#fff;;border-radius:15px;padding:3px 5px;background:red;}

#profile-description .show-more{}
#profile-description .show-more{background:#000;color:#fff;position:relative;font-size:13px;text-align:center;cursor:pointer;padding:5px 10px;border-radius:20px;width:50%;margin:20px auto 0 auto;}
#profile-description .show-more-height{height:157px;overflow:hidden;padding:5px 0;}


@media screen and (max-width:640px){
  .trending_box{margin-top:20px;}
  .trending input:checked + label{width:50%;}
  .trend_section input:checked + label{width:60%;}
  .trending section{padding:20px 5px;}
  .trending .trend_comm .coupon_card{float:none;width:100%;margin:0 0 7px 0;border:none;padding:0;}
  .trending .trend_comm .coupon_card .img_box{float:left;width:60%;}
  .trending .trend_comm .coupon_card .inner{float:left;width:38%;margin-left:2%;}
  .trending .trend_comm .coupon_card .inner span.is_price{margin-right:5px;}
  .trending .trend_comm .coupon_card .inner span.was_price{display:none;}
  .trending .trend_comm .coupon_card .inner .view{display:none;}
  .trending span.pct{font-size:11px;padding:3px 5px;}
  .trending label{font-size:12px;padding:10px;}
  .trending label:before{margin: 0;font-size: 18px;}
  #profile-description .show-more{display:block;}
  #profile-description .show-more-height{height:133px}
  
}

@media screen and (min-width:641px) and (max-width:1199px){
  #profile-description .show-more{display:block;width:30%;}
  .trending .trend_comm .coupon_card{float:none;width:100%;margin:0 0 7px 0;border:none;padding:0;}
}


@media screen and (max-width: 400px) {
  .trending label{padding:7px;}
}


/* Deals Section ***************************************************************/
.deals_box{width:1200px;height:100%;}
.deals_box a{}
.deals_box img{width:300px;height:250px;margin:0 5px;border-radius:20px;}
.deals_box .owl-carousel .owl-stage-outer{height:270px;}


/* -------- title style ------- */
.line-title{position:relative;width:100%;padding-bottom:10px;font-size:17px;}
.line-title::after,.line-title::before{content:"";position:absolute;bottom:0;left:0;height:4px;border-radius:2px}
.line-title::before{width:100%;background:#f2f2f2}
.line-title::after{width:32px;background:#e73700}

/******* Middle section CSS Start ******/
/* -------- Landing page ------- */
.game-section{padding:0;}
.game-section .owl-stage{margin:15px 0;display:flex;display:-webkit-flex}
.game-section img.item{margin: 0 5px 60px;width:300px;height:200px;}
.game-section .item{margin:0 15px 60px;width:300px;height:200px;display:flex;display:-webkit-flex;align-items:flex-end;-webkit-align-items:flex-end;background:#343434 no-repeat center center/cover;border-radius:16px;overflow:hidden;position:relative;transition:all .4s ease-in-out;-webkit-transition:all .4s ease-in-out;cursor:pointer}
.game-section .item:after{content:"";display:block;position:absolute;height:100%;width:100%;left:0;top:0}
.game-section .owl-theme.custom-carousel .owl-dots{margin-top:-20px;position:relative;z-index:5}

@media screen and (max-width:640px){
  .deals_box{width:100%;margin:60px 0;}
  .game-section{padding:0;}
  .game-section img.item{margin:0 7px 10px;}
  .deals_box .owl-carousel .owl-stage-outer{height:225px;}
  .game-section .owl-theme.custom-carousel .owl-dots{margin:0;}
}

@media screen and (min-width:641px) and (max-width:1199px){
  .deals_box{width:100%;margin:0;}
}

@media (min-width: 992px) and (max-width: 1199px) {
  .game-section{padding: 50px 30px;}
  .game-section .item{margin: 0 12px;width:300px;height:200px;}
}

@media (min-width: 768px) and (max-width: 991px) {
  .line-title{width:100%;}
  .game-section{padding:30px 0;}
  .game-section .item{margin: 0 12px;width:300px;height:200px;}
}

@media (max-width: 767px) {
  .line-title{width:100%;font-size:17px;}
  .game-section .item{margin: 0 10px;width:300px;height:200px;}
}


.hotdeals_wrap{margin:0 0 70px 0;}
.hotdeals_wrap .owl-carousel .owl-stage-outer{padding:10px;}
.hotdeals_wrap .card_box{width:200px;height:300px;position:relative;margin:10px;border-radius:20px;box-shadow:0px 0px 7px 6px rgba(0,0,0,0.09);padding:10px;}
.hotdeals_wrap .card_box a{display:block;}
.hotdeals_wrap .card_box a .img_box{height:150px;;position:relative;}
.hotdeals_wrap .card_box a .img_box img.deal_img{width:70%;height:70%;border-radius:20px;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);margin-top:60px;object-fit:contain;}
.hotdeals_wrap .card_box a .inner{margin-top:80px;text-align:center;}
.hotdeals_wrap .card_box a .inner p{background:#000;color:#fff;padding:5px 3px;border-radius:10px;}
.hotdeals_wrap .card_box a .upto{position:absolute;top:15px;left:0;text-align:center;width:100%;line-height:1.2;font-weight:bold;font-size:22px;text-decoration:underline;}
.hotdeals_wrap .card_box a .upto em.top{display:block;}
.hotdeals_wrap .card_box a .upto em.bottom{}
/*.hotdeals_wrap .card_box a .upto em.bottom span{color:#70b7b5;}*/
.hotdeals_wrap .card_box .admin{position:absolute;bottom:5px;left:10px;}
.hotdeals_wrap .card_box .admin a{display:inline-block;}



/******* New Coupon Section ****/
.n_coupon_wrap{margin-bottom:50px;}
.n_coupon_card{border-bottom:1px solid #ccc;padding:20px 0;}
.n_coupon_card .img_box{float:left;width:35%;height:150px;margin-right:2.5%;position:relative;font-size:14px;}
.n_coupon_card .img_box img{width:80%;height:80%;object-fit:contain;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);}
.n_coupon_card .img_box span{background:red;color:#fff;padding:10px;border-radius:10px;position:absolute;top:0;left:0;font-weight:bold;width:50px;height:40px;}
.n_coupon_card .inner{float:left;width:60%;margin-left:2.5%;padding:10px 0;}
.n_coupon_card .inner p.title{word-break:keep-all;line-height:1.4;height:2.8em;overflow:hidden;display:-webkit-box;display:-ms-flexbox;vertical-align:top;text-overflow:ellipsis;-webkit-box-orient:vertical;-webkit-line-clamp:2;}
.n_coupon_card .inner p.dec{}
.n_coupon_card .inner p.dec strong{text-decoration:underline;background:yellow;padding:3px;}
.n_coupon_card .inner p.rating{margin:0 0 10px 0;}
.n_coupon_card .inner p.rating em{margin-right:7px;background:#000;color:#fff;padding:3px 5px;font-size:11px;border-radius:15px;}
.n_coupon_card .inner a{text-align:right;text-decoration:underline;display:block;margin-right:10px;}






