.main_hero{width:1200px;margin:0 auto;padding:10px 0;}
.main_hero .hero_pc img{width:1200px;border-radius:20px;}
.main_hero .hero_pc{position:relative;}
.main_hero .hero_pc a{position:absolute;bottom:20px;right:50px;color:#70b7b5;font-size:20px;border-top:1px solid #70b7b5;border-bottom:1px solid #70b7b5;}
.main_hero .hero_mobile{display:none;position:relative;padding:10px;}
.main_hero .hero_mobile img{border-radius:20px;}
.main_hero .hero_mobile a{position:absolute;bottom:40px;right:20px;color:#404141;font-size:15px;background:#70b7b5;font-size:11px;border-radius:15px;padding:3px 10px;}

@media screen and (max-width:640px){
  .main_hero{width:100%;}
  .main_hero img{width:100%;}
}

/*.coupon_box{margin:70px 0 0 0;}*/
.home_in_coupon, .admin_panel{width:1200px;margin:0 auto;overflow:hidden;}
.admin_panel a{color:#fff;background:#08f;padding:10px;border-radius:20px;}
.coupon_header{margin:30px auto 20px auto;text-align:center;font-size:30px;width:50%;display:block;border:1px solid;border-radius:20px;padding:5px 10px;}
.ctn_more{color:#000;font-size:20px;text-align:center;padding:10px 20px;border-radius:20px;width:15%;display:block;margin:15px auto 0 auto;margin-bottom:70px;border:2px solid;}
.deal_header{margin:100px auto 20px auto;text-align:center;font-size:30px;width:50%;display:block;border:1px solid;border-radius:20px;padding:5px 10px;}
/* Form */
.sub_form{margin:20px 0;}


@media screen and (max-width:640px){
  .main_hero .hero_pc{display:none;}
  .main_hero .hero_mobile{display:block;}
  .home_in_coupon, .admin_panel{width:100%;}
  .coupon_header, .deal_header{width:60%;font-size:20px;}
  .deal_header{margin-top:50px;}
  .ctn_more{width:40%;}
}


@media screen and (min-width:641px) and (max-width:1199px){
  .main_hero{width:100%;padding:10px;}
  .main_hero .hero_pc img{width:100%;border-radius:20px;}
  .home_in_coupon, .admin_panel{width:100%;}
  .ctn_more{width:30%;margin-bottom:70px;}
}


.deal_box{}
.deal_box .deal_card{float:left;width:48%;margin:1% 1% 50px 1%;;border-radius:20px;padding:20px;height:981px;}
.deal_box .deal_card .img_card{height:250px;}
.deal_box .deal_card .img_card img{width:100%;height:100%;border-radius:20px;object-fit:cover;}
.deal_box .deal_card .inner{}
.deal_box .deal_card .inner h3{text-align:center;margin:15px 0;font-size:25px;text-decoration:underline;}
.deal_box .deal_card .inner .top_deal{border-bottom:1px dotted #ccc;}
.deal_box .deal_card .inner .top_deal .left{float:left;width:40%;}
.deal_box .deal_card .inner .top_deal .left .img_left{width:100%;height:100px;position:relative;margin:0;}
.deal_box .deal_card .inner .top_deal .left .img_left img{width:80%;height:80%;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);object-fit:contain;}
.deal_box .deal_card .inner .top_deal .right{float:left;width:60%;padding:15px;}
.deal_box .deal_card .inner .top_deal .right p.title, .deal_box .deal_card .inner h3{line-height:1.4;height:2.8em;overflow:hidden;display:-webkit-box;display:-ms-flexbox;vertical-align:top;text-overflow:ellipsis;-webkit-box-orient:vertical;-webkit-line-clamp:2;word-break:break-word;}
.deal_box .deal_card .inner .top_deal .right p.pricing{font-size:20px;margin:7px 0 0 0;}
.deal_box .deal_card .inner .top_deal .right span.was{font-size:15px;color:#ccc;text-decoration:line-through;margin:0 7px;}
.deal_box .deal_card .inner .top_deal .right span.pct{font-size:16px;padding:5px 10px;background:#08f;text-align:center;color:#fff;border-radius:20px;}
.deal_box .deal_card .btn{margin-top:10px;}
.deal_box .deal_card .btn a{background:#08f;color:#fff;font-size:20px;text-align:center;display:block;padding:15px;border-radius:20px;}


@media screen and (max-width:640px){
  .deal_box{margin-bottom:30px;}
  .deal_box .deal_card{float:none;width:100%;margin:0 0 30px 0;}  
  .deal_box .deal_card .inner .top_deal .right p.pricing{font-size:15px;}
  .deal_box .deal_card .inner .top_deal .right span.was{font-size:13px;margin:0 5px}
  .deal_box .deal_card .inner .top_deal .right span.pct{font-size:13px;padding:3px 7px;}
}

@media screen and (min-width:641px) and (max-width:1199px){
  .deal_box .deal_card{float:none;width:100%;margin:0 0 30px 0;} 
  .deal_box .deal_card .inner .top_deal .right p.pricing{font-size:14px;}
  .deal_box .deal_card .inner .top_deal .right span.was{font-size:12px;margin:0 5px;}
  .deal_box .deal_card .inner .top_deal .right span.pct{font-size:12px;padding:3px 5px;}
}















