.main_hero{width:1200px;margin:0 auto;padding:10px 0;}
.main_hero .hero_pc img{width:1200px;border-radius:20px;}
.main_hero .hero_pc{position:relative;}
.main_hero .hero_pc a{position:absolute;bottom:20px;right:50px;color:#70b7b5;font-size:20px;border-top:1px solid #70b7b5;border-bottom:1px solid #70b7b5;}
.main_hero .hero_mobile{display:none;position:relative;padding:10px;}
.main_hero .hero_mobile img{border-radius:20px;}
.main_hero .hero_mobile a{position:absolute;bottom:40px;right:20px;color:#404141;font-size:15px;background:#70b7b5;font-size:11px;border-radius:15px;padding:3px 10px;}

@media screen and (max-width:640px){
  .main_hero{width:100%;}
  .main_hero img{width:100%;}
}

/*.coupon_box{margin:70px 0 0 0;}*/
.home_in_coupon{width:1200px;margin:0 auto;overflow:hidden;}
.admin_btn a{color:#fff;background:#08f;padding:3px;border-radius:20px;font-size:12px;}
.coupon_header{margin:30px auto 20px auto;text-align:center;font-size:30px;width:50%;display:block;border:1px solid;border-radius:20px;padding:5px 10px;}
.ctn_more{color:#000;font-size:20px;text-align:center;padding:10px 20px;border-radius:20px;width:15%;display:block;margin:15px auto 0 auto;margin-bottom:70px;border:2px solid;}
.deal_header{margin:100px auto 20px auto;text-align:center;font-size:30px;width:50%;display:block;border:1px solid;border-radius:20px;padding:5px 10px;}
/* Form */
.sub_form{margin:20px 0;}


@media screen and (max-width:640px){
  .main_hero .hero_pc{display:none;}
  .main_hero .hero_mobile{display:block;}
  .home_in_coupon, .admin_panel{width:100%;}
  .coupon_header, .deal_header{width:60%;font-size:20px;}
  .deal_header{margin-top:50px;}
  .ctn_more{width:40%;}
}


@media screen and (min-width:641px) and (max-width:1199px){
  .main_hero{width:100%;padding:10px;}
  .main_hero .hero_pc img{width:100%;border-radius:20px;}
  .home_in_coupon, .admin_panel{width:100%;}
  .ctn_more{width:30%;margin-bottom:70px;}
}


.deal_box{}
.deal_box .deal_card{float:left;width:48%;margin:1% 1% 50px 1%;;border-radius:20px;padding:20px;height:981px;}
.deal_box .deal_card .img_card{height:250px;}
.deal_box .deal_card .img_card img{width:100%;height:100%;border-radius:20px;object-fit:cover;}
.deal_box .deal_card .inner{}
.deal_box .deal_card .inner h3{text-align:center;margin:15px 0;font-size:25px;text-decoration:underline;}
.deal_box .deal_card .inner .top_deal{border-bottom:1px dotted #ccc;}
.deal_box .deal_card .inner .top_deal .left{float:left;width:40%;}
.deal_box .deal_card .inner .top_deal .left .img_left{width:100%;height:100px;position:relative;margin:0;}
.deal_box .deal_card .inner .top_deal .left .img_left img{width:80%;height:80%;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);object-fit:contain;}
.deal_box .deal_card .inner .top_deal .right{float:left;width:60%;padding:15px;}
.deal_box .deal_card .inner .top_deal .right p.title, .deal_box .deal_card .inner h3{line-height:1.4;height:2.8em;overflow:hidden;display:-webkit-box;display:-ms-flexbox;vertical-align:top;text-overflow:ellipsis;-webkit-box-orient:vertical;-webkit-line-clamp:2;word-break:break-word;}
.deal_box .deal_card .inner .top_deal .right p.pricing{font-size:20px;margin:7px 0 0 0;}
.deal_box .deal_card .inner .top_deal .right span.was{font-size:15px;color:#ccc;text-decoration:line-through;margin:0 7px;}
.deal_box .deal_card .inner .top_deal .right span.pct{font-size:16px;padding:5px 10px;background:#08f;text-align:center;color:#fff;border-radius:20px;}
.deal_box .deal_card .btn{margin-top:10px;}
.deal_box .deal_card .btn a{background:#08f;color:#fff;font-size:20px;text-align:center;display:block;padding:15px;border-radius:20px;}


@media screen and (max-width:640px){
  .deal_box{margin-bottom:30px;}
  .deal_box .deal_card{float:none;width:100%;margin:0 0 30px 0;}  
  .deal_box .deal_card .inner .top_deal .right p.pricing{font-size:15px;}
  .deal_box .deal_card .inner .top_deal .right span.was{font-size:13px;margin:0 5px}
  .deal_box .deal_card .inner .top_deal .right span.pct{font-size:13px;padding:3px 7px;}
}

@media screen and (min-width:641px) and (max-width:1199px){
  .deal_box .deal_card{float:none;width:100%;margin:0 0 30px 0;} 
  .deal_box .deal_card .inner .top_deal .right p.pricing{font-size:14px;}
  .deal_box .deal_card .inner .top_deal .right span.was{font-size:12px;margin:0 5px;}
  .deal_box .deal_card .inner .top_deal .right span.pct{font-size:12px;padding:3px 5px;}
}


/****** Main_2023 Page  *******/
.index_main_wrap{position:relative;}
.index_main_wrap .sub_title_box{position:relative;}
.index_main_wrap .sub_title_box h3.index_coupon_section_title{color:#000;padding:0 20px;margin-left:-8px;}
.index_main_wrap .sub_title_box div.sub_title_mark{position:absolute;top:-8px;left:3px;width:30px;height:30px;background:#FFD700;border-radius:50%;z-index:-1;}
.index_main_wrap .card_ctn_wrap{margin-top:20px;position:relative;}
.index_main_wrap .card_ctn_wrap .card_ctn_box{float:left;width:48%;margin:1% 1% 3% 1%;height:360px;background-color:#fff;border-radius:20px;}
.index_main_wrap .card_ctn_wrap .card_ctn_box .img_box{height:200px;position:relative;}
.index_main_wrap .card_ctn_wrap .card_ctn_box .img_box .list_num{background-color:#000;color:#fff;padding:5px 15px;border-radius:10px;position:absolute;top:5px;left:5px;font-size:15px;opacity:0.6;}
.index_main_wrap .card_ctn_wrap .card_ctn_box .img_box img{width:80%;height:80%;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);object-fit:contain;}
.index_main_wrap .card_ctn_wrap .card_ctn_box .inner{padding:10px;text-align:center;}
.index_main_wrap .card_ctn_wrap .card_ctn_box .inner p{font-size:12px;margin:10px 0;}
.index_main_wrap .card_ctn_wrap .card_ctn_box .inner .saving_type{}
.index_main_wrap .card_ctn_wrap .card_ctn_box .inner .saving_type span{display:block;float:left;width:50%;background-color:#000;color:#fff;font-size:9px;border:2px dotted;padding:5px 3px;border-radius:10px;line-height:1.2;}
.index_main_wrap .card_ctn_wrap .card_ctn_box .inner .saving_type span em{font-size:15px;display:block;}
.index_main_wrap .card_ctn_wrap .card_ctn_box .inner .saving_type span.only_code{width:100%;}
.index_main_wrap .card_ctn_wrap .card_ctn_box .inner .saving_type span.only_code em{}
.index_main_wrap .card_ctn_wrap .card_ctn_box .inner .saving_type strong.pct{font-size:10px;vertical-align:top;}
.index_main_wrap .card_ctn_wrap .card_ctn_box .inner .pricing{}
.index_main_wrap .card_ctn_wrap .card_ctn_box .inner .pricing .was_price{font-size:13px;color:#9da3ab;text-decoration:line-through;margin-right:5px;font-weight:100;}
.index_main_wrap .card_ctn_wrap .card_ctn_box .inner .pricing .is_price{font-size:20px;color:#FFD700;font-weight:bold;font-weight:100;}
.index_main_wrap .more_coupon_btn{margin:20px 0;position:relative;z-index:1;}
.index_main_wrap .more_coupon_btn a{display:block;background-color:#fff;color:#000;padding:10px;border-radius:15px;text-align:center;font-size:15px;margin-top:45px;border:1px solid;}


@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@900&display=swap");
.index_main_wrap .promo_title_index{margin:3%;}
.index_main_wrap .promo_title_index h2 {
  font-family: "Rubik", sans-serif;
  font-size: 40px;
  line-height: 0.8em;
  display: inline; /* SAFARI */
  /*background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Lager_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 20 20' style='enable-background:new 0 0 20 20;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23FF9933;%7D .st1%7Bfill:none;stroke:%23ED7300;stroke-width:2;stroke-miterlimit:10;%7D .st2%7Bfill:none;stroke:%23FFCC66;stroke-width:3;stroke-miterlimit:10;%7D%0A%3C/style%3E%3Crect y='0' class='st0' width='20' height='20'/%3E%3Cline class='st1' x1='1' y1='22' x2='22' y2='1'/%3E%3Cline class='st1' x1='19' y1='22' x2='-2' y2='1'/%3E%3Cline class='st2' x1='-0.5' y1='-0.5' x2='20.5' y2='20.5'/%3E%3Cline class='st2' x1='-0.5' y1='20.5' x2='20.5' y2='-0.5'/%3E%3C/svg%3E%0A");*/
  background-size: 10px 10px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #000;
  color:#000;
}
.index_main_wrap .for_coupon_index{margin:-5% 3% 8% 3% !important; }

.index_main_wrap .promo_title_index h2 span {
  font-size: 0.5em;
  line-height: 0.9em;
}
