.web_box{width:800px;height:100%;margin:0 auto;position:fixed;left:50%;transform:translate(-50%, 0);padding:10px 0;}
.web_box .left{float:left;width:30%;margin-right:5%;position:relative;height:100%;}
.web_box .left .inner{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);}
.web_box .left .inner h2{text-align:right;font-size:50px;line-height:1.2;}
.web_box .left .inner p{text-align:right;}
.web_box .left .inner a{background:#000;color:#fff;padding:10px 15px;text-align:center;margin:10px 0 0 0;border-radius:15px;float:right;}

.web_box .right{float:left;width:65%;height:100%;overflow-x:hidden;overflow-y:auto;border:2px solid;border-radius:20px;-ms-overflow-style: none; /* IE and Edge */scrollbar-width: none; /* Firefox */}
.web_box .right::-webkit-scrollbar{display:none; /* Chrome, Safari, Opera*/}

.web_box .right .index_wrap{overflow:hidden;}
.web_box .right .index_wrap header nav{width:100%;}

.web_box .right .index_wrap .search_hero{color:#000;height:300px;position:relative;margin:0 0 10px 0;}
.web_box .right .index_wrap .search_hero .inner{display:none;}
.web_box .right .index_wrap .search_hero .inner h2{line-height:1.2;font-size:35px;padding:30px 50px;}
.web_box .right .index_wrap .search_hero .inner p{padding:10px 50px;}
.web_box .right .index_wrap .search_hero .inner p.find_more{padding:10px 35px;}
.web_box .right .index_wrap .search_hero .inner p.find_more a{background:#000;color:#fff;padding:5px 10px;border-radius:15px;}
.web_box .right .index_wrap .search_hero .search-wrapping{width:100%;margin:0;}
.web_box .right .index_wrap .search_hero .search_none{display:none;}
.web_box .right .index_wrap .search_hero .set_search_box{border:none;text-align:center;float:none;width:100%;margin:0;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);}
.web_box .right .index_wrap .search_hero .set_search_box h2{margin-bottom:15px;}
.web_box .right .index_wrap .search_hero .set_search_box .feild_wrap{width:100%;}
.web_box .right .index_wrap .search_hero .set_search_box .feild_wrap .keyword_box input{width:90%;margin:0 auto;float:none;border-radius:20px;}
.web_box .right .index_wrap .search_hero .set_search_box button{color:#000;border:1px solid;width:50%;padding:10px 15px;}
.web_box .right .index_wrap .search_hero .set_search_box .feild_wrap, .set_search_box .option_wrap{margin:0;}

/* Hero scroll down */
.scroll-downs{position:absolute;top:230px;right:0;bottom:0;left:0;margin:auto;width:34px;height:55px;}
.mousey{width:3px;padding:5px 10px;height:35px;border:2px solid #ccc;border-radius:25px;opacity:0.75;box-sizing:content-box;}
.scroller{width:3px;height:10px;border-radius:25%;background-color:#ccc;animation-name:scroll;animation-duration:2.2s;animation-timing-function:cubic-bezier(.15,.41,.69,.94);animation-iteration-count:infinite;}
@keyframes scroll
  {0%{opacity:0;}10%{transform:translateY(0);opacity:1;}100%{transform:translateY(15px);opacity:0;}
}


.web_box .right .index_wrap .ctn_box{padding:15px;}
.web_box .right .index_wrap .ctn_box .special_exhibition{margin-bottom:50px;}
.web_box .right .index_wrap .ctn_box .special_exhibition img{border-radius:20px;}
.web_box .right .index_wrap .ctn_box .special_exhibition .spe_top img{height:auto;width:100%;object-fit:contain;}
.web_box .right .index_wrap .ctn_box .special_exhibition .spe_left img{float:left;width:50%;object-fit:contain;height:auto;padding-right:5px;}
.web_box .right .index_wrap .ctn_box .special_exhibition .spe_right img{float:left;width:50%;object-fit:contain;height:auto;padding-left:5px;border:2px solid;}

.web_box .right .index_wrap .ctn_box .pic_deal{}
.web_box .right .index_wrap .ctn_box .pic_deal .card_wrap{}
.web_box .right .index_wrap .ctn_box .pic_deal .card_wrap .card_box{float:left;width:48%;margin:1% 1% 50px 1%;height:350px;position:relative;}
.web_box .right .index_wrap .ctn_box .pic_deal .card_wrap .card_box .image_box{height:200px;position:relative;}
.web_box .right .index_wrap .ctn_box .pic_deal .card_wrap .card_box .image_box img{width:70%;height:70%;object-fit:contain;position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);}
.web_box .right .index_wrap .ctn_box .pic_deal .card_wrap .card_box .inner{text-align:center;}
.web_box .right .index_wrap .ctn_box .pic_deal .card_wrap .card_box .inner p{font-size:13px;word-break:keep-all;line-height:1.4;height:2.8em;overflow:hidden;display:-webkit-box;display:-ms-flexbox;vertical-align:top;text-overflow:ellipsis;-webkit-box-orient: vertical;-webkit-line-clamp:2;margin:10px 0;}
.web_box .right .index_wrap .ctn_box .pic_deal .card_wrap .card_box .inner .ratings_box{font-size:12px;}
.web_box .right .index_wrap .ctn_box .pic_deal .card_wrap .card_box .inner .ratings_box .rating{background:#000;color:#fff;padding:3px 5px;border-radius:15px;font-size:11px;}
.web_box .right .index_wrap .ctn_box .pic_deal .card_wrap .card_box .inner .ratings_box .review{background:#000;color:#fff;padding:3px 5px;border-radius:15px;font-size:11px;}
.web_box .right .index_wrap .ctn_box .pic_deal .card_wrap .card_box .inner .is_price{font-size:20px;}
.web_box .right .index_wrap .ctn_box .pic_deal .card_wrap .card_box .inner .was_price{font-size:15px;margin-left:5px;text-decoration:line-through;color:#ccc;}
.web_box .right .index_wrap .ctn_box .pic_deal .card_wrap .card_box .inner .pct{border:2px solid;border-radius:20px;padding:3px 7px;position:absolute;top:10px;left:5px;background:#fff;}
.web_box .right .index_wrap .ctn_box .more_btn{display:block;background:#000;color:#fff;padding:10px 20px;width:50%;text-align:center;border-radius:20px;font-size:20px;margin:0 auto 30px auto;}

.web_box .right .index_wrap .ctn_box .middle_event{margin:50px 0;}
.web_box .right .index_wrap .ctn_box .middle_event img{width:100%;height:200px;object-fit:cover;border-radius:20px;}

.web_box .right .index_wrap .ctn_box .trending_box{margin-top:70px;}
.web_box .right .index_wrap .ctn_box .trending_box .trending label{width:49.4%;}
.web_box .right .index_wrap .ctn_box .trending_box .trending .trend_comm .coupon_card{width:100%;}
.web_box .right .index_wrap .ctn_box .trending_box .trending .trend_comm .coupon_card .inner span.is_price{margin-right:7px;}
.web_box .right .index_wrap .ctn_box .trending_box .trending .trend_comm .coupon_card .inner span.was_price{display:none;}


@media screen and (max-width:640px){
  .web_box{width:100%;}
  .web_box .left{float:none;width:100%;margin:0;display:none;}
  .web_box .right{float:none;width:100%;border:none;}
  .web_box .right .index_wrap .search_hero{height:500px;}
  .web_box .right .index_wrap .search_hero .inner{display:block;}
  .web_box .right .index_wrap .search_hero .inner h2{padding:20px 40px;}
  .web_box .right .index_wrap .search_hero .inner p{padding:0 40px;}
  .web_box .right .index_wrap .search_hero .set_search_box{top:70%;}
  .web_box .right .index_wrap .ctn_box .special_exhibition .spe_top img{height:auto;}
  .web_box .right .index_wrap .ctn_box .special_exhibition .spe_left img{object-fit:contain;height:auto;}
  .web_box .right .index_wrap .ctn_box .special_exhibition .spe_right img{object-fit:contain;height:auto;}
  .scroll-downs{top:400px;}
}

@media screen and (min-width:641px) and (max-width:1199px){
  .web_box{width:100%;padding:10px 20px;}
}


/* coupon&deal page */
.web_box .right .index_wrap .ctn_box .most_coupon{margin:10px 0 100px 0;height:200px;}
.web_box .right .index_wrap .ctn_box .most_coupon .mc_img_box{width:200px;height:200px;position:relative;}
.web_box .right .index_wrap .ctn_box .most_coupon .mc_img_box img{width:90%;height:90%;object-fit:contain;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);padding:20px;}
.web_box .right .index_wrap .ctn_box .most_coupon .mc_img_box span{border:1px solid #ccc;border-radius:50%;font-size:17px;padding:10px 17px;background:#000;color:#fff;position:absolute;top:0;left:0;}



