.oneday_wrap{margin:0 0 50px 0;}
.one_day_box{width:85%;padding:10px;margin:0 auto;border:1px solid #9da3ab;border-radius:20px;}
.one_day_box .img_box{width:100%;height:300px;position:relative;margin:0 auto;}
.one_day_box .img_box img{width:80%;height:80%;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);object-fit:contain;border-radius:15px;padding:20px;}
.one_day_box .inner{width:80%;margin:0 auto;}
.one_day_box .inner p{font-size:13px;}
.one_day_box .inner .pricing{}
.one_day_box .inner .pricing span{font-size:13px;color:#9da3ab;text-decoration:line-through;margin-right:5px;}
.one_day_box .inner .pricing em.show_price{font-size:17px;}

#timer{width:100%;margin:20px auto 0 auto;color: #eeeeee;text-align: center;text-transform: uppercase;font-size: .7em;letter-spacing: 3px;padding:10px;}
#timer .under span{font-size:8px;}
.days, .hours, .minutes, .seconds{float:left;width:23%;margin:1%;padding:5px;border-radius:5px;font-size:10px;}
.days{background: #EF2F3C;}
.hours {background: #eeeeee;color: #183059;}
.minutes{background: #276FBF;}
.seconds{background: #F0A202;}
.numbers {color:  #183059;font-size:2em;text-align: center;}
.white{position: absolute;background:  #eeeeee;height: 85px;width: 75px;left: 30%;top: 2%;}
.red {position: absolute;background:  #EF2F3C;left: 18%;top: 9%;height: 65px;width: 70px;}
.blue{position: absolute;background:  #276FBF;height: 80px;width: 80px;left: 60%;top: 5%;}


.oneday_test{display:none;}

