.blog_section{width:90%;margin:0 auto;padding:20px;border-radius:20px;box-shadow:rgba(149, 157, 165, 0.3) 0px 8px 24px;}
.discount_banner{border-bottom:1px solid #ccc;padding-bottom:12px;}
.pick_box{padding:0 10px;margin-bottom:50px;}
.pick_box .search_filter{margin-bottom:20px;}
.pick_box .search_filter input{width:100%;padding:15px;border-radius:15px;}
.pick_main_card{margin-bottom:1px solid #ccc;margin-bottom:5px;position:relative;}
.pick_main_card .inner{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);width:90%;background-color:rgba(0,0,0,0.6);padding:15px 10px;border-radius:20px;color:#fff;text-align:center;z-index:999;}
.pick_main_card .inner a{color:#fff;display:block;}
.pick_main_card .inner span{font-size:15px;margin:0 0 1px 10px;display:inline-table;/*position:absolute;top:40px;left:10px;right:18px;*/} 
.pick_main_card .inner span.sub_title{font-size:13px;margin:0 0 5px 10px;display:inline-table;/*top:73px;left:10px;*/}
.pick_main_card .inner span.date{font-size:12px;color:#fff;display:block;}
.pick_main_card .pick_img{border-radius:20px;}
.pick_main_card .pick_img img{width:100%;height:250px;object-fit:cover;border-radius:20px;filter:grayscale(0.8);}
.pick_main_card .admin a{color:#fff;font-size:10px;display:inline-block;}

.pick_sub_card{padding:15px;border-bottom:1px solid #ccc;}
.pick_sub_card .pick_img{float:left;width:25%;}
.pick_sub_card .pick_img img{width:100%;height:60px;object-fit:cover;border-radius:10px;filter:grayscale(0.6);}
.pick_sub_card .inner{float:left;width:70%;margin-left:5%;padding:10px;position:relative;height:60px;}
.pick_sub_card .inner p{font-size:13px;}
.pick_sub_card .inner p.main_title{color:#3d3d3d;margin-bottom:2px;line-height:1.2;}
.pick_sub_card .inner p.sub_title{color:#3d3d3d;display:table;}
.pick_sub_card .inner span.date{font-size:10px;color:#ccc;}
.pick_sub_card .inner a.pick_sub_card_a{position:absolute;top:50%;transform:translate(0, -50%);display:block;}
.pick_sub_card .inner .admin{position:absolute;right:-10px;bottom:-10px;font-size:10px;}
/*.pick_sub_card .inner .admin a{display:table-cell;}*/

@media screen and (max-width:640px){
  .pick_sub_card{padding:10px;}
} 