/*.post_index{margin-top:30px;}
.post_index .index_left{float:left;width:25%;}
.post_index .index_left img{width:100%;border-radius:15px;}
.post_index .index_left .finder{}
.post_index .index_left .categories{padding:15px;}
.post_index .index_left .categories p{font-size:20px;color:#fff;}
.post_index .index_left .categories ul{margin:0 0 15px 5px;}
.post_index .index_left .categories ul li{margin:5px 0;font-size:17px;}

.post_index .index_right{float:left;width:73%;margin-left:2%;margin-bottom:50px;position:relative;}
.post_index .index_right .card_wrap{margin-top:40px;}
.post_index .index_right .card{border:1px solid #ccc;margin-bottom:15px;border-radius:20px;background:#fff;margin-top:30px;}
.post_index .index_right .card .img_box{float:left;width:25%;height:200px;position:relative;background:#fff;border-radius:15px;}
.post_index .index_right .card .img_box .admin{position:absolute;bottom:-10px;left:50%;transform:translate(-50%, -50%);}
.post_index .index_right .card .img_box img{width:95%;height:95%;object-fit:contain;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);padding:15px;}
.post_index .index_right .card .inner{float:left;width:51%;margin:0 2%;padding:20px 0;height:200px;position:relative;}
.post_index .index_right .card .inner p{color:#000;font-size:18px;word-break:keep-all;line-height:1.4;height:2.8em;overflow:hidden;display:-webkit-box;display:-ms-flexbox;vertical-align:top;text-overflow:ellipsis;-webkit-box-orient:vertical;-webkit-line-clamp:2;}
.post_index .index_right .card .inner p .promocode{border:1px solid #ff6767;color:#ff6767;display:inline-block;font-size:11px;padding:3px 7px;border-radius:15px;vertical-align:bottom;margin-right:7px;}
.post_index .index_right .card .inner p .sale{border:1px solid #67b3ff;color:#67b3ff;display:inline-block;font-size:11px;padding:3px 7px;border-radius:15px;vertical-align:middle;margin-right:7px;}
.post_index .index_right .card .inner span.is_price{font-size:25px;display:block;margin:10px 0;}
.post_index .index_right .card .inner span em.was_price{font-size:17px;text-decoration:line-through;color:#3d3d3d;margin-right:2px;}
.post_index .index_right .card .inner span em.pct{font-size:17px;color:#3d3d3d;margin-right:5px;}
.post_index .index_right .card .inner span em.shipping{font-size:17px;color:#3d3d3d;}
.post_index .index_right .card .inner p.codenum{font-size:14px;}
.post_index .index_right .card .inner .view_more_pc{margin-top:10px;display:inline-block;position:absolute;bottom:5px;}
.post_index .index_right .card .inner .view_more_pc a{color:#3d3d3d;vertical-align:middle;}
.post_index .index_right .card .inner .view_more_pc img{width:17px;vertical-align:text-bottom;background:#fff;border-radius:50%;margin-left:5px;}
.post_index .index_right .card .btn_box{float:left;width:20%;height:200px;position:relative;text-align:center;}
.post_index .index_right .card .btn_box a{position:absolute;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);display:block;width:90%;border:1px solid #68d391;color:#68d391;padding:10px;border-radius:15px;}
.post_index .index_right .card .view_more_m{display:none;position:absolute;bottom:15px;}
.post_index .index_right .card .view_more_m .view_show{display:inline-block;margin-right:5px;}
.post_index .index_right .card .view_more_m .view_amz{display:inline-block;}
.post_index .index_right .card .view_more_m .view_show a{border:1px solid #ccc;padding:5px 9px;border-radius:15px;color:#ccc;}
.post_index .index_right .card .view_more_m .view_amz a{border:1px solid #68d391;padding:5px 9px;border-radius:15px;color:#68d391;}

.post_index .index_right .search-index{position:absolute;right:20px;width:30%;}
.post_index .index_right .search-index input{padding:7px 10px;border-radius:20px;width:100%;}

@media screen and (max-width:640px){
  .post_index{margin-top:0;}
  .post_index .index_right .card_wrap{margin:0;}
  .post_index .index_left, .post_index .index_right{float:none;width:100%;margin:0;}
  .post_index .index_right{margin-bottom:40px;}
  .post_index .index_left .categories{display:none;}
  .post_index .left_hashtag{display:none;}
  .post_index .index_right .card .img_box{width:35%;height:200px;}
  .post_index .index_right .card .img_box img{width:85%;height:85%;padding:5px 15px 5px 5px;}
  .post_index .index_right .card .inner{width:55%;margin:0 0 0 5%;}
  .post_index .index_right .card .inner p{font-size:13px;line-height:1.4;height:3.1em;}
  .post_index .index_right .card .inner p .promocode{vertical-align:middle;}
  .post_index .index_right .card .inner span.is_price{font-size:18px;margin:10px 0;line-height:1;}
  .post_index .index_right .card .inner span em.was_price{font-size:13px;}
  .post_index .index_right .card .inner span em.shipping{font-size:13px;}
  .post_index .index_right .card .inner p.codenum{font-size:13px;line-height:1.5;}
  .post_index .index_right .card .inner .view_more_pc{display:none;}
  .post_index .index_right .card .inner .view_more_m{display:block;width:100%;font-size:12px;}
  .post_index .index_right .card .btn_box{float:none;width:100%;display:none;}
  .post_index .index_right .search-index{display:none;}
}

@media screen and (min-width:641px) and (max-width:1199px){
  .post_index .index_right .card .inner span.is_price{font-size:17px;}
}*/



/* Cetegories Page -----------------------------*/
.side_category_pc{}
.side_category_mobile{display:none;}
/* Accordian Menu */
.accordion{width:100%;max-width:768px;margin:30px auto 20px;background:#fff;}
.accordion .link{width:100%;cursor:pointer;display:inline-block;padding:15px 15px 15px 20px;color:#232323;font-size:14px;font-weight:600;border-bottom:1px solid #F8F8F8;position:relative;-webkit-transition:all 0.4s ease;-o-transition:all 0.4s ease;transition:all 0.4s ease;}
.accordion li:last-child .link{}
.accordion li i{position:absolute;top:16px;left:12px;font-size:18px;color:#595959;-webkit-transition:all 0.4s ease;-o-transition:all 0.4s ease;transition:all 0.4s ease;}
.accordion li i.fa-chevron-down{right:12px;left:auto;font-size:16px;}
.accordion li.open .link{color:#FF8200;}
.accordion li.open i{color:#b63b4d;}
.accordion li.open i.fa-chevron-down{-webkit-transform: rotate(180deg);-ms-transform: rotate(180deg);-o-transform: rotate(180deg);transform: rotate(180deg);}

/* Submenu */
.submenu{display:none;background:#fff;font-size:14px;}
.submenu li{border-bottom: 1px solid #F8F8F8;}
.submenu li:last-child{border-bottom:1px solid #D8D8D8;}
.submenu a, .submenu_pc a{display:inline-block;text-decoration:none;color:#fff;padding:2px;vertical-align:middle;-webkit-transition:all 0.25s ease;-o-transition:all 0.25s ease;transition:all 0.25s ease;font-weight:400;}
.submenu a:hover{background:#FFF2E5;color:#969696;}

.submenu a img.cat_img, .submenu_pc a img.cat_img{width:25px;display:inline-block;vertical-align:middle;background:#fff;border-radius:50%;}

@media screen and (max-width:640px){
  .side_category_pc{display:none}
  .side_category_mobile{display:block;}
  .submenu a{padding:10px;}
}


/**** new index ****/
/*.index_wrap{}
.index_wrap .container{}
.index_wrap .container p.short_price_info{margin-top:7px;font-size:15px;}
.index_wrap .container p.short_price_info .was_price{text-decoration:line-through;}
.index_wrap .container p.short_price_info em.pct{background:#08f;color:#fff;padding:2px 7px;border-radius:20px;}
.index_wrap .container .admin{display:block;float:left;}
.index_wrap .container .admin a{color:#ccc;margin-top:10px;margin-left:5px;}


ul.index_cat{margin:24px;}
ul.index_cat li{display:inline-block;text-align:center;margin-right:20px;text-transform:uppercase;}
ul.index_cat li a{color:#fff;position:relative;} 
ul.index_cat li a:hover{background:#08f;color:#fff;padding:5px 15px;border-radius:20px;}

article{display:inline;float:left;width:23%;margin:1%}
article a{display:block;padding:0 20px 10px;background:#fff;overflow:hidden;color:#08f;text-decoration:none}
article em.img_box{width:100%;height:250px;display:block;}
article em.img_box img{width:100%;height:100%;padding:35px;object-fit:contain}
article i{font-style:normal;text-transform:uppercase;font-weight:700;font-size:11px;display:block;margin:0 0 5px}
article b{font-weight:400;font-size:15px;color:#121212;padding-bottom:10px;word-break:break-all;line-height:1.4;height:1.4em;overflow:hidden;display:-webkit-box;display:-ms-flexbox;vertical-align:top;text-overflow:ellipsis;-webkit-box-orient:vertical;-webkit-line-clamp:1}
article.current{margin-bottom:0;border-bottom:20px solid #fff}
article div{display:none}*/



.content{clear:both;background:#fff;color:#000;padding:0 20px;margin:0 12px 0;position:relative;max-height:0;opacity:0;overflow:hidden;-webkit-transition:all .5s ease;-moz-transition:all .5s ease;-ms-transition:all .5s ease;transition:all .5s ease}
.content.open{max-height:1000px;padding:20px;margin-bottom:15px;opacity:1;border-top:1px dotted #ccc}
.content a{float:right;font-size:13px;line-height:17px}
.content i{font-style:normal;text-transform:uppercase;font-weight:700;font-size:11px;color:#f27d00}
.content img, .content video{display:block;width:100%;height:auto;margin:0 0 20px;}
.content b{font-weight:normal;font-size:20px;color:#121212;margin:18px 0;display:block;}

.details{width:100%;}
.details .bio{}
.details .ad{width:50%;float:left;}
.details .ad .m_banner{display:none;}
.details .ad .m_banner a{display:block;}
.details .ad .m_banner a img{width:100%;border-radius:20px;}
.details .ad .banner{}
.details .ad .banner a{display:block;}
.details .ad .banner a img{width:175px;height:175px;margin:0 5px 0 5px;object-fit:contain;}

.details .bio p.pricing{font-size:20px;margin-bottom:10px;}
.details .bio p.save_code{font-size:18px;margin-bottom:10px;}

.details .bio .intro{}
.details .bio .intro em{text-decoration:underline;}
.details .bio .summary{border-bottom:1px solid #ccc;padding:5px 0;margin-top:15px;}
.details .bio .total{margin-top:5px;}
.details .bio .summary .list, .details .bio .total .list{float:left;width:50%;}
.details .bio .summary .price, .details .bio .total .price{float:left;width:50%;text-align:right;}
.details .bio .total p{font-size:30px;}
.details .btn{}
.details .btn a{background:#08f;color:#fff;display:block;padding:10px 20px;margin:20px 0 10px 0;width:40%;text-align:center;border-radius:15px;font-size:15px;}

.content p{font-size:13px;line-height:17px;}
.index_wrap{}

@media (max-width: 728px){
  .details .bio{width:100%;}
}

@media screen and (max-width:640px){
  /*article {;width:95%;margin:0 2.5% 5% 2.5%;}
  article img{width:100%;margin:10px 0 0 0;}
  article a, .content.open{border-radius:20px;}
  article.current{border-bottom:none;}
  ul.index_cat{display:none;}
  .hero h1{line-height:1.2;}*/
  .content{width:95%;margin:0 2.5%;}
  .content.open{}
  .details .bio{padding:0;}
  .details .bio .summary{border-bottom:1px solid #ccc;padding:5px 0;margin-top:15px;font-size:15px;}
  /*.details .bio .summary .list, .details .bio .total .list{float:left;width:50%;}*/
  .details .bio .summary .price, .details .bio .total .price{float:left;width:50%;text-align:right;}
  .details .btn a{background:#08f;color:#fff;display:block;padding:7px 20px;margin-top:20px;width:100%;text-align:center;border-radius:15px;}
  .details .ad{float:none;width:100%;}
  .details .ad .banner{display:none;}
  .details .ad .m_banner{display:block;}

}

/*@media screen and (min-width:641px) and (max-width:1199px){
  article{width:48%;}
}*/



/** Show Page -----------------------------*/
.show-wrap{color:#000;}
.show-wrap .related{width:800px;margin:0 auto;}
.show-wrap .container{width:800px;margin:80px auto 120px auto;border-radius:20px;padding:20px;border:2px solid;} 
.show-wrap .container .go_back{display:none;}
.show-wrap .container .title_mobile{display:none;}
.show-wrap .container .title_mobile h2{font-size:17px;font-weight:300;}
.show-wrap .container .title h2 em, .show-wrap .container .title_mobile h2 em{border-bottom:3px solid #70b7b5;}


.show-wrap .image-box{float:left;width:45%;margin-right:5%;position:relative;height:350px;background:#fff;border-radius:20px;}
.show-wrap .image-box img{width:70%;height:70%;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);object-fit:contain;} 
.show-wrap .inner-box{float:left;width:50%;margin:0;}
.show-wrap .summary_title{margin-top:2em;}
.show-wrap .receipt{height:150px;display:grid;grid-template-columns:2fr 1fr;}
.show-wrap .receipt__grid2{text-align:right;}
.show-wrap .receipt__grid2 p em{color:#fff}
.show-wrap .receipt__grid2 p.p-code{font-weight:800;}
.show-wrap .total_price{font-size:30px;color:#70b7b5;font-weight:600;}
.show-wrap .total_text{font-size:30px;}
.show-wrap .btn{text-align:center;}
.show-wrap .btn p{font-size:14px;margin-top:15px;}
.show-wrap .btn a.amz_btn{border:1px solid #70b7b5;color:#70b7b5;display:block;padding:10px;font-size:15px;border-radius:15px;float:left;width:48%;margin:1%;}
.show-wrap .btn a.buy_now{background:#70b7b5;color:#fff;}
.show-wrap .notice p{font-size:10.5px;color:#ccc;padding:10px 15px;margin-top:80px;border-top:1px solid #ccc;}
.show-wrap .title{}
.show-wrap .title h2{font-size:17px;font-weight:300;word-break:keep-all;line-height:1.4;height:5.6em;overflow:hidden;display:-webkit-box;display:-ms-flexbox;vertical-align:top;text-overflow:ellipsis;-webkit-box-orient:vertical;-webkit-line-clamp:4;}
.show-wrap .admin{text-align:left;}
.show-wrap .admin a{color:#000;}

/******* Search Ads *******/
.search_ads{margin-top:30px;}
/******* Search Ads *******/


/******* fixed bottom nav *******/
.fixed_bottom_nav{display:none;position:relative;}
.fixed_bottom_nav nav{display:flex;justify-content:space-around;background-color:#333;position:fixed;bottom:0;width:100%;border-radius:10px 10px 0 0;}
.fixed_bottom_nav nav .left_btn{position:absolute;bottom:3px;left:10px;}
.fixed_bottom_nav nav .right_btn{position:absolute;bottom:3px;right:10px;}
.fixed_bottom_nav nav img{width:35px;height:35px;}
.nav-item{display:flex;padding:5px;}
.nav-item span{width:0;overflow:hidden;}
/******* fixed bottom nav *******/

/******* Sharing Section *******/
.sharing_btn a, .sharing_btn button{background:#08f;color:#fff;padding:5px 7px;border-radius:15px;font-size:13px;}
.sharing_ctn{font-size:10px;}
.sharing_ctn p.share_title{}

@media screen and (max-width:640px){
  .fixed_bottom_nav{display:block;}
  .sharing_btn, .sharing_ctn{display:none;}
}
/******* Sharing Centents Part *******/

@media screen and (max-width:640px){
  .show-header{display:none;}
  .show-wrap .wrap{margin:0;}
  .show-wrap .container{position:relative;margin:auto auto 30px auto;overflow:hidden;width:100%;height:auto;border:none;}
  .show-wrap .container .go_back{display:block;width:40px;height:40px;opacity:0.1;margin:1em 0 0 1.5em;}
  .show-wrap .container .title_mobile{display:block;margin-bottom:30px;font-size:15px;}
  .show-wrap .image-box{width:90%;height:300px;margin:0 5%;}
  .show-wrap .image-box img{width:85%;height:85%;object-fit:contain;border-radius:20px;}
  .show-wrap .inner-box{float:none;width:100%;margin:0 0 50px 0;}
  .show-wrap .summary_title{margin:19em 3em -2.5em 1.2em;float:none;}
  .show-wrap .receipt{float:none;margin:3em 2em 0 2em;width:auto;}
  .show-wrap .receipt__grid1{margin-top:1.1em;font-size:15px;}
  .show-wrap .receipt__grid2{margin-top:1.1em;font-size:15px;}
  .show-wrap .receipt__grid2 p{text-align: right;}
  .show-wrap .admin{margin:0 5%;}
  .show-wrap .title{margin:0 2em 0 2em;float:none;width:100%;width:87%;display:none;}
  .show-wrap .title h2{font-size:15px;}
  .show-wrap .btn{float:none;width:auto;margin:0 5% 0 5%;}
  .show-wrap .related{width:100%;margin:0 2%;}
  .show_notice{float:none;width:90%;margin:0 5%;}
  
}

@media screen and (min-width:641px) and (max-width:1199px){
  .container{width:100%;margin-top:50px;}
  .show-wrap .container{width:100%;}
  .show-wrap .container .go_back{display:block;width:40px;height:40px;opacity:0.1;margin:1em 0 0 1.5em;}
}


/* Search Modal */
@media only screen and (min-width: 40em) {
  .modal-overlay{display:flex;align-items:center;justify-content:center;position:fixed;top:0;left:0;width:100%;height:100%;z-index:5;background-color:rgba(0, 0, 0, 0.6);opacity:0;visibility:hidden;
    -webkit-backface-visibility: hidden;backface-visibility: hidden;transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), visibility 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  }
  .modal-overlay.active{opacity:1;visibility:visible;}
}
/* Modal */
.modal-overlay .modal {display:flex;align-items:center;justify-content:center;position:relative;margin:0 auto;background-color:#fff;width:600px;max-width:75rem;min-height:20rem;padding:1rem;border-radius:3px;opacity:0;overflow-y:auto;visibility:hidden;box-shadow:0 2px 10px rgba(0, 0, 0, 0.1);
  -webkit-backface-visibility:hidden;backface-visibility:hidden;transform:scale(1.2);transition:all 0.6s cubic-bezier(0.55, 0, 0.1, 1);z-index:9999;}
.modal-overlay .modal .close-modal{position:absolute;cursor:pointer;top:5px;right:10px;opacity:0;-webkit-backface-visibility:hidden;backface-visibility:hidden;transition:opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);transition-delay: 0.3s;}
.modal-overlay .modal .close-modal svg{width:1.75em;height:1.75em;}
.modal-overlay .modal .modal-content{width:100%;margin-top:-100px;text-align:center;color:#000;opacity:0;-webkit-backface-visibility:hidden;backface-visibility:hidden;transition:opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1);transition-delay:0.3s;}
.modal-overlay .modal .modal-content p{font-size:20px;}
.modal-overlay .modal .modal-content span{}
.modal-overlay .modal .modal-content .search-index{margin-top:15px;}
.modal-overlay .modal .modal-content .search-index input{width:70%;padding:10px;border-radius:15px}
.modal-overlay .modal.active{visibility:visible;opacity:1;transform:scale(1);}
.modal-overlay .modal.active .modal-content{opacity:1;}
.modal-overlay .modal.active .close-modal{transform:translateY(10px);opacity:1;}

/* Mobile styling */
@media only screen and (max-width: 39.9375em){
  .modal-overlay .modal{position:fixed;top:0;left:0;width:100%;height:100%;-webkit-overflow-scrolling:touch;border-radius:0;transform:scale(1.1);padding:0 !important;}
  .modal-overlay .close-modal{right:20px !important;}
}
@media screen and (min-width:641px) and (max-width:1199px){
 .modal-overlay .modal .modal-content{margin-top:0;} 
}




.index_wrapper {
  margin: 1em auto;
  max-width: 1200px;
  /*background-color: #fff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.06);*/
}

.index_wrapper .cards {
  padding: 15px;
  display: flex;
  flex-flow: row wrap;

}

.index_wrapper .card {
  margin: 15px;
  width: calc((100% / 4) - 30px);
}
@media screen and (max-width: 991px) {
  .index_wrapper .card {width: calc((100% / 3) - 30px);}
  .card__inner{padding:10px;}
}
@media screen and (max-width: 767px) {
  .index_wrapper .card {
    width: 100%;
  }
}


.card__inner {
  width: 100%;
  padding: 10px;
  position: relative;
  cursor: pointer;
  /*border:2px solid #000;*/
  border-radius:20px;
  color:#000;
  font-size: 1.5em;
  text-align: center;
  transition: all 0.2s ease-in-out;
}


.card__inner .image_box{height:190px;}
.card__inner .image_box img{width:80%;height:80%;object-fit:contain;}
.card__inner .inner{margin:10px 0 20px 0;}
.card__inner .inner p{font-size:15px;word-break:keep-all;line-height:1.4;height:1.4em;overflow:hidden;display:-webkit-box;display:-ms-flexbox;vertical-align:top;text-overflow:ellipsis;-webkit-box-orient:vertical;-webkit-line-clamp:1;}
.card__inner .inner em{font-size:20px;}
.card__inner .inner .was_price{color:#ccc;text-decoration:line-through;}
.card__inner .inner em span{font-size:15px;margin:0 5px;}
.card__inner .inner em span.pct{background:#70b7b5;color:#fff;padding:5px;padding:5px 10px;border-radius:15px;}
.card__inner .inner .admin_controller{font-size:13px;margin-top:10px;}
.card__inner .inner .admin_controller a{color:#000;}

.card__expander {
  border:2px solid #000;
  border-radius:20px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  font-size:17px;
  padding:20px;
}

/*.card__expander .left{float:left;width:60%;margin-right:3%;}
.card__expander .left p{font-size:15px;}
.card__expander .left .btn{}
.card__expander .left .btn a{background:#70b7b5;color:#fff;border-radius:20px;padding:10px;width:100%;display:block;text-align:center;margin-top:10px;}
.card__expander .left .btn p{font-size:13px;text-align:center;margin-top:15px;}
.card__expander .right{float:left;width:37%;}*/


/*.card__expander .fa {
  font-size: 0.75em;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  display:none;
}*/

/*.card__expander .close{text-align:center;display:block;color:#fff;background:#08f;padding:5px 10px;border-radius:15px;display:none;}

.card.is-collapsed .card__inner:after {
  content: "";
  opacity: 0;
}
.card.is-collapsed .card__expander {
  max-height: 0;
  min-height: 0;
  overflow: hidden;
  margin-top: 0;
  opacity: 0;
  display:none;
}*/

/*.card.is-expanded .card__inner:after {
  content: "";
  opacity: 1;
  display: block;
  height: 0;
  width: 0;
  position: absolute;
  bottom: -30px;
  left: calc(50% - 15px);
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #333a45;
}
.card.is-expanded .card__inner .fa:before {
  content: "╳";
  border:1px solid #000;
  border-radius:50%;
  padding:10px;
}
.card.is-expanded .card__expander {
  max-height: 1000px;
  min-height: 200px;
  overflow: visible;
  margin:30px 0;
  opacity: 1;
}*/

/*.card.is-expanded:hover .card__inner{transform:scale(1);}
.card.is-inactive .card__inner{pointer-events:none;opacity:0.5;}
.card.is-inactive:hover .card__inner{transform:scale(1);}*/

@media screen and (max-width:640px){
  .index_wrapper{width:100%;margin:0;}
  .index_wrapper .cards{padding:0;margin:0;}
  .card{margin:0;}
  .card__inner .image_box img{width:90%;height:90%;}  
  .card__inner .inner p{margin:5px 0 7px 0;}
  .card__expander .left{float:none;width:100%;margin:0;}
  .card__expander .right{float:none;width:100%;margin:25px 0 0 0;}
  .card__expander, .card__expander .close{display:block;}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .card:nth-of-type(2n+2) .card__expander{margin-left: calc(-100% - 30px);}
  .card:nth-of-type(2n+3){clear:left;}
  .card__expander{width:calc(200% + 30px);}
  .card__inner .inner em, .card__inner .inner .was_price{font-size:13px;}
  .card__inner .inner em span.pct{font-size:13px;padding:5px 7px;}

}
@media screen and (min-width: 992px) {
  .card:nth-of-type(3n+2) .card__expander{margin-left: calc(-100% - 30px);}
  .card:nth-of-type(3n+3) .card__expander {margin-left: calc(-200% - 60px);}
  .card:nth-of-type(3n+4){clear:left;}
  .card__expander{width: calc(300% + 60px);}
}

