.savings_wrap{}
.savings_wrap a.create_savings{width:90%;margin:0 auto;background-color:#000;color:#fff;padding:5px;text-align:center;border-radius:10px;display:block;} 
.savings_wrap .saving_latest{border:3px solid !important;border-radius:15px;}
.savings_wrap .savings_card{width:90%;height:200px;margin:10px auto;border:1px solid #ccc;position:relative;border-radius:20px;}
.savings_wrap .savings_card .img_box{float:left;width:30%;margin-right:3%;position:relative;height:200px;}
.savings_wrap .savings_card .img_box img{width:85%;height:85%;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);object-fit:contain;}
.savings_wrap .savings_card .inner{float:left;width:67%;padding:20px 10px;}

.savings_wrap .savings_card .inner .rating_card{margin:3px 0 5px 0;}
.savings_wrap .savings_card .inner .rating_card .rating_box i{font-size:15px;vertical-align:middle;}
.savings_wrap .savings_card .inner .rating_card .rating_box span{vertical-align:middle;}

.savings_wrap .savings_card .inner .pricing{}
.savings_wrap .savings_card .inner .pricing span{}
.savings_wrap .savings_card .inner .pricing span em{margin-right:5px;width:30%;}
.savings_wrap .savings_card .inner .pricing span em.was_price{color:#9da3ab;text-decoration:line-through;}
.savings_wrap .savings_card .inner .pricing span em.is_price{font-size:17px;}
.savings_wrap .savings_card .inner .pricing span em.pct{font-size:17px;background-color:#000;color:#fff;padding:5px 7px;border-radius:10px;}
.savings_wrap .savings_card .inner .promocode{margin-top:10px;border:2px dotted;padding:7px;border-radius:5px;}
.savings_wrap .savings_card .inner .promocode p{height:20px;width:100%;position:relative;border-bottom:1px solid;}
.savings_wrap .savings_card .inner .promocode p span{position:absolute;top:0;right:0;background-color:#000;color:#fff;padding:0 70px;border-radius:5px;}


.savings_wrap .savings_card .new_mark{position:absolute;top:-10px;left:-10px;}
.savings_wrap .savings_card .new_mark p{font-size:17px;padding:10px;border-radius:15px;background:#000;color:#fff;}

@media screen and (max-width:640px){
  .savings_wrap .savings_card{height:190px;}
  .savings_wrap .savings_card .inner .promocode p span{padding:0 30px;}
}
@media screen and (min-width:641px) and (max-width:1199px){
  
}