<% if current_user && current_user.admin %>
  <div class="wrap">
    <h1>Editing Oneday</h1>
    <%= render 'form', oneday: @oneday %>
    <%= link_to 'Show', @oneday %> |
    <%= link_to 'Back', onedays_path %>
  </div>
<% end %>
